<header>
    <p>Kanban Project Management Tool</p>
    <a class="logoLink" routerLink="/">
        <div class="logoContainer">
            <img class="logo" src="./assets/icones/header_logo.svg" alt="">
        </div>
    </a>
    <div>
        <div>
            <a class="infoLink" routerLink="info">
                <img src="./assets/icones/help.png" alt="info icon">
            </a>
        </div>
        <div (click)="navVisible = !navVisible" class="profil">
            <span>SM</span>
        </div>
    </div>
    <nav class="profil-btn-dropdown" [class.visible]="navVisible">
        <div class="dropdown-menu">
        <a routerLink="legalNotice">Legal Notice</a>
        <a routerLink="privacyPolicy">Privacy Policy</a>
        <a routerLink="contact">Log out</a>
        </div>
    </nav>
</header>