@import './../../../../styles.scss';

@media (max-width: 1200px) {
    header {
        left: 0;
        justify-content: space-between;

        >p {
            display: none;
        }
    }

    .infoLink {
        display: none;
    }

    .logoLink {
        display: block;
    }
}