@import './../../../../styles.scss';

@media (max-width: 1200px) {
    header{
        left: 0;
    }

    .headerContent {
        justify-content: space-between;
        max-width: 1920px;

        >p {
            display: none;
        }
    }

    .infoLink {
        display: none;
    }

    .logoLink {
        display: block;
    }
 
    .dropdown-menu-help {  
        display: block;
    }
}