@import './../../../../styles.scss';

header{
    position: absolute;
    top: 0;
    right: 0;
    left: 232px;
    height: 96px;
    background-color: white;
}

.headerContent {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.2));
    max-width: calc(1920px - 232px);

    >p {
        margin-left: 50px;
        font-family: "Inter", serif; 
        font-size: 20px;
        font-weight: 400;
    }

    >div {
        width: 150px;
        display: flex;
        justify-content: space-between;   
        align-items: center;
        padding-right: 8px;
        gap: 16px;
        >div {
            display: flex;  
            justify-content: center; 
            >img {
                transition: $stdTransition;
                width: 20px;
                height: 20px;

                &:hover {
                    cursor: pointer;
                    width: 25px;
                    height: 25px;
                }
            }
        }
    }
}

.profil {
    border: 3px solid black;
    border-radius: 100px;
    width: 56px;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
        cursor: pointer;
    }

    >span {
        color: #29ABE2;
        font-weight: 700;
    }
}

.infoLink {
    padding: 0;
}

.info-icon{
    width: 20px;
    transition: all 0.1s ease-in-out;
    &:hover{
        width: 25px;
    }
}

.info-icon-container{
    @include setFlex();
    width: 60px;
    height: 60px;
}

.logoLink {
    display: none;
}

.profil-btn-dropdown {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100dvh;
    display: none;
}

.profil-btn-dropdown.visible {
    display: block;
}

.dropdown-menu {
    position: absolute;
    top: 96px;
    right: 24px;
    background-color: $clrHighlight1;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    display: flex;
    flex-direction: column;

    >a {
        color: #CDCDCD;
        text-decoration: none;
        font-weight: 400;
        font-size: 16px;
        border-radius: 0;

        &:hover {
            background-color: #2A3D59;
        }
    }
}

.dropdown-menu-help {
    display: none;
}