<div class="contactlist">
    <div class="btnNewContactMobile mobileBtn" (click)="showAddContact()">
        <img src="./assets/icones/person_add.svg" alt="Add">
    </div>
    <div class="controlContainer">
        <div class="testBtns">
            <button class="controlBTN" (click)="addContact(testContact)">add one Testuser</button>
            <button class="controlBTN" (click)="resetDatabase()">reset DB</button>
        </div>
        <div class="btnNewContact" (click)="showAddContact()">
            <p>Add new contact</p>
            <img src="./assets/icones/person_add.svg" alt="Add">
        </div>
    </div>
    <div class="contactsLettersContainer">
        @for (letter of contactService.getAllLettersWhereContacsOccour(); track $index) {
        <p class="contactsLetter">{{letter}}</p>
        <div class="contactsLetterContainer">
            @for (contact of contactService.getAllContactsByLetter(letter); track $index) {
            <app-list-contact [isMobileView]="isMobileView" [contact]="contact"></app-list-contact>
            }
        </div>
        }
    </div>
</div>