<div class="contactlist">
    <div class="testBtns">
        <button class="controlBTN" (click)="addContact(testContact)">add one Testuser</button>
        <button class="controlBTN" (click)="resetDatabase()">reset DB</button>
    </div>
    <div class="btnNewContact">
        <p>Add new contact</p>
        <img src="" alt="Icon">
    </div>
    <div class="contactsLettersContainer">
        <div class="contactsLetterContainer">
            <p class="contactsLetter">A</p>
            @for (contact of contactService.contacts; track $index) {
            <app-list-contact [contact]="contact"></app-list-contact>
            <button class="controlBTN" (click)="deleteContact(contact)">delete User</button>
            }
        </div>
    </div>
</div>