@import './../../../../styles.scss';

.testBtns {
    @include setFlex($fd: column, $ai: flex-end, $gap: 8px);
    width: 100%;
}

.controlBTN {
    width: 100%;
    border: 2px dotted whitesmoke;
    font-size: 12px;
    padding: 8px;
    background-color: rgba(139, 0, 139, 0.5);
    color: white;

    &:hover {
        background-color: darkgray;
    }
}

.contactlist {
    @include setFlex($fd: column, $jc: flex-start, $gap: 16px);
    margin-top: 120px;
    padding: 0px 32px;
    height: calc(100vh - 120px);
}

.controlContainer {
    height: 20%;
}


.btnNewContact {
    cursor: pointer;
    @include setFlex($gap: 8px);
    background-color: $clrHighlight1;
    color: $clrBaseBright;
    padding: $stdPaddingInteractive;
}

.contactsLettersContainer {
    @include setFlex($fd: column, $jc: flex-start, $gap: 16px);
    height: 80%;
}

.contactsLetterContainer {
    @include setFlex($fd: column, $jc: flex-start, $ai: flex-start, $gap: 16px);
    overflow-y: scroll;
    scrollbar-width: thin;
}

.contactsLetter {
    align-self: stretch;
    border-bottom: 1px solid $clrBaseDark;
}