@import './../../../../styles.scss';

.testBtns {
    position: absolute;
    bottom: 0;
    @include setFlex($fd: row, $ai: flex-end, $gap: 8px);
    width: 100%;
}

.controlBTN {

    border: 2px dotted whitesmoke;
    font-size: 12px;
    padding: 8px;
    background-color: rgba(139, 0, 139, 0.5);
    color: white;


    &:hover {
        background-color: darkgray;
    }
}

.contactlist {
    @include setFlex($fd: column, $jc: flex-start, $ai: stretch, $gap: 16px);
    margin-top: 96px;
    height: calc(100vh - 96px);
    background-color: $clrBaseBright;
    filter: drop-shadow(4px 0px 4px rgba(0, 0, 0, 0.2));
}

.controlContainer {
    height: 10%;
    padding: 17px 32px;
}


.btnNewContact {
    cursor: pointer;
    @include setFlex($ai: center, $gap: 16px);
    background-color: $clrHighlight1;
    color: $clrBaseBright;
    padding: $stdPaddingInteractive;
    border-radius: $stdRadiusInteractive;
    font-size: 21px;
    font-weight: 500;
    transition: $stdTransition;

    &:hover {
        background-color: $clrHighlight2;
        transform: scale(1.01);
    }

    img {
        height: 32px;
        width: 32px;
    }
}

.contactsLettersContainer {
    @include setFlex($fd: column, $jc: flex-start, $ai: stretch, $gap: 16px);
    height: 90%;
    overflow-y: scroll;
    scrollbar-width: thin;
}

.contactsLetterContainer {
    @include setFlex($fd: column, $jc: flex-start, $ai: stretch, $gap: 16px);

}

.contactsLetter {
    align-self: stretch;
    padding: 17px 48px;
    margin: 0px 32px;
    border-bottom: 1px solid $clrSeparatingLines;
}

.btnNewContactMobile {
    position: absolute;
    right: 16px;
    bottom: 80px;
}

.contactlist::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px; /* Abrundung des Tracks */
}

.contactlist::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px; /* Abrundung des Scrollbalkens */
}