@import './../../../../styles.scss';

@media (max-width: 1200px) {
    .section-details-content {
        height: calc(100vh - 96px - 68px);
    }
}


@media (max-width: 1400px) {
    .contact-maininfo {
        .contact-actions {
            .contact-name {
                max-width: 300px;
            }
        }
    }
}

@media (max-width: 1023px) {

    .section-details-content {
        padding-top: 0px;
        padding-left: 8px;
        padding-right: 8px;
        padding-bottom: 0px;
    }


    .moreBtn,
    .backBtn {
        cursor: pointer;
        display: block;
    }

    .backBtn {
        position: absolute;
        top: 50px;
        right: 24px;
        z-index: 1;
    }

    .moreBtn {
        position: absolute;
        bottom: 16px;
        right: 16px;
        z-index: 1;
    }

    .headline-content {
        flex-direction: column;
        align-items: flex-start
    }

    .separatorVertical {
        display: none;
    }

    .separatorHorizontal {
        display: block;
    }

    .headline-content {
        h1 {
            font-size: $fsMobileH1;
        }

        .subtitle {
            font-size: $fsMobileH3;
        }
    }

    .contact-maininfo {
        gap: 20px;

        .avatar-wrapper {
            height: 80px;
            width: 80px;
            border-radius: 50%;
            @include setFlex();
            border: 3px solid white;

            .avatar-text {
                color: white;
                font-size: 27px;
                font-weight: 400;
            }
        }

        .contact-actions {
            .contact-name {
                font-size: 36px;
                font-weight: 700;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            .actions {
                display: none;
            }
        }
    }
}

@media (max-width: 500px) {
    .contact-maininfo {
        .contact-actions {
            .contact-name {
                max-width: 280px;
            }
        }
    }
}

@media (max-width: 400px) {
    .contact-maininfo {
        .contact-actions {
            .contact-name {
                max-width: 195px;
                white-space: normal;
            }
        }
    }
}