<section class="details-content">
    <div class="backBtn" (click)="contactService.changeMobileContactView(isMobileView)">
        <img src="./../../../../assets/icones/arrow-left-line.svg" alt="back">
    </div>
    <div class="headline">
        <div class="headline-content">
            <h1>Contacts</h1>
            <span class="separator">|</span>
            <span class="subtitle">Better with a team</span>
        </div>
    </div>

    <div class="contact-info" [ngClass]="{'d_none': !contactService.isContactSelected}">
        <div class="contact-headline">
            <div class="avatar-wrapper">
                <div class="avatar backgroundColor{{contactService.currentlySelectedContact.nameShortcutColorCode}}">
                    {{contactService.currentlySelectedContact.nameShortcut}}</div>
                <h2>{{contactService.currentlySelectedContact.firstName}}
                    {{contactService.currentlySelectedContact.lastName}}</h2>
            </div>
            <div class="actions">
                <button class="edit">
                    <img src="./assets/icones/Property 1=edit.svg" alt="edit">
                    Edit
                </button>
                <button class="delete" alt="delete"
                    (click)="contactService.deleteContact(contactService.currentlySelectedContact); contactService.changeMobileContactView(isMobileView)">
                    <img src="./assets/icones/Property 1=delete.svg" alt="delete">
                    Delete
                </button>
            </div>
        </div>
        <div class="contact-details">
            <h3>Contact Information</h3>
            <div class="info-item">
                <label>Email</label>
                <span class="email">{{contactService.currentlySelectedContact.email}}</span>
            </div>
            <div class="info-item">
                <label>Phone</label>
                <span class="phone">{{contactService.currentlySelectedContact.phone}}</span>
            </div>
        </div>
    </div>
</section>