@import './../../../../styles.scss';

.details-content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 32px;
    margin-top: 96px;
    height: calc(100vh - 96px);
    padding: 64px 32px;
    overflow: hidden;
    overflow-y: scroll;
    scrollbar-width: thin;


    .contact-info {
        @include setFlex($fd: column, $ai: flex-start, $gap: 21px);
        width: 100%;
        transform: translateX(1300px);
        animation: fadeIn 125ms forwards;

        .contact-details {
            width: 100%;
            @include setFlex($fd: column, $ai: stretch, $gap: 21px);

            .contact-information-text {
                font-size: 20px;
                font-weight: 400;
                padding: 20px 0px;
            }

            .info-item {
                @include setFlex($fd: column, $ai: flex-start, $gap: 8px);

                label {
                    font-size: $fSTer;
                    font-weight: 700;
                }

                .email {
                    color: $clrHighlight2;
                    font-size: $fSTer;
                }

                .phone {
                    font-size: $fSTer;
                }
            }
        }
    }
}

.headline-content {
    @include setFlex($jc: flex-start, $gap: 16px);

    h1 {
        font-size: $fsH1;
        color: $clrBaseDark;
    }

    .subtitle {
        color: $clrBaseDark;
        font-size: $fsH3;
    }
}

.separatorVertical {
    color: $clrHighlight2;
    font-size: $fsH2;
}

.separatorHorizontal {
    display: none;
    width: 90px;
    border-top: 2px solid $clrHighlight2 ;

}

.contact-maininfo {
    width: 100%;
    @include setFlex($jc: flex-start, $ai: center, $gap: 54px);

    .avatar-wrapper {
        height: 120px;
        width: 120px;
        border-radius: 50%;
        @include setFlex();
        border: 3px solid white;

        .avatar-text {
            color: white;
            font-size: 47px;
            font-weight: 500;
        }
    }

    .contact-actions {
        .contact-name {
            font-size: 47px;
            font-weight: 500;
            max-width: 800px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .actions {
            @include setFlex($jc: flex-start, $gap: 18px);

            button {
                @include setFlex($gap: 8px);
                background: none;
                border: none;
                padding: 0;
                font-size: 16px;

                img {
                    width: 24px;
                    height: 24px;
                    transition: all 0.3s ease;
                }

                &:hover {
                    color: $clrHighlight2;
                    font-weight: 500;

                    img {
                        filter: invert(67%) sepia(72%) saturate(463%) hue-rotate(165deg) brightness(87%) contrast(90%);
                    }
                }
            }
        }
    }

}

@keyframes fadeIn {
    0% {
        transform: translateX(1300px);
    }

    100% {
        transform: translateX(0px);
    }
}

.moreBtn,
.backBtn {
    display: none;
}

.moreControlOverview {
    position: absolute;
    z-index: 99;
    transform: translateX(120%);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.moreControlContent {
    position: absolute;
    right: 8px;
    bottom: 80px;

    @include setFlex($fd: column, $ai: flex-start, $gap: 8px);
    width: 116px;
    height: 100px;

    background-color: $clrBaseBright;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    padding: 10px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.2));
}

.fadeInControlMore {
    animation: fadeInControlMore 500ms ease-in-out forwards;
}

.fadeOutControlMore {
    animation: fadeOutControlMore 500ms ease-in-out forwards;
}

@keyframes fadeInControlMore {
    0% {
        transform: translateX(120%);
    }

    100% {
        transform: translateX(0%);
    }
}

@keyframes fadeOutControlMore {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(120%);
    }
}


.moreControlBtn {
    cursor: pointer;
    @include setFlex($gap: 8px);
}