<section class="sectionDetailsContent">
    <div class="backBtn" (click)="contactService.changeMobileContactView(isMobileView); setInitialValues()">
        <img src="./assets/img/icons/arrow-left-line.svg" alt="back">
    </div>
    <div class="moreBtn mobileBtn" (click)="toggleMoreControlOverview()">
        <img src="./assets/img/icons/more_vert.svg" alt="back">
    </div>
    <div class="moreControlOverview"
        [ngClass]="{'fadeInControlMore':isMoreControlOverviewShown, 'fadeOutControlMore':!isMoreControlOverviewShown && !isInitialLoad}"
        (click)="setInitialValues()">
        <div class="moreControlContent">
            <div class="moreControlBtn" (click)="showEditContact()">
                <img src="./assets/img/icons/edit.svg" alt="edit">
                <p>Edit</p>
            </div>
            <div class="moreControlBtn">
                <img src="./assets/img/icons/delete.svg" alt="delete">
                <p
                    (click)="contactService.deleteContact(contactService.currentlySelectedContact); contactService.changeMobileContactView(isMobileView); setInitialValues()">
                    Delete</p>
            </div>
        </div>
    </div>
    <div class="detailsContent">
        <div class="headline">
            <div class="headlineContent">
                <h1>Contacts</h1>
                <span class="separatorVertical">|</span>
                <span class="subtitle">Better with a team</span>
                <div class="separatorHorizontal"></div>
            </div>
        </div>


        <div class="contactInfo" [ngClass]="{'d_none': !contactService.isContactSelected}">
            <div class="contactMaininfo">
                <div
                    class="avatarWrapper backgroundColor{{contactService.currentlySelectedContact.nameShortcutColorCode}}">
                    <p class="avatarText"> {{contactService.currentlySelectedContact.nameShortcut}}</p>
                </div>
                <div class="contactActions">
                    <p class="contactName">{{contactService.currentlySelectedContact.firstName}}
                        {{contactService.currentlySelectedContact.lastName}}</p>
                    <div class="actions">
                        <button class="edit" (click)="showEditContact()">
                            <img src="./assets/img/icons/edit.svg" alt="edit">
                            Edit
                        </button>
                        <button class="delete" alt="delete"
                            (click)="contactService.deleteContact(contactService.currentlySelectedContact); contactService.changeMobileContactView(isMobileView); setInitialValues()">
                            <img src="./assets/img/icons/delete.svg" alt="delete">
                            Delete
                        </button>
                    </div>
                </div>
            </div>
            <div class="contactDetails">
                <p class="contactInformationText">Contact Information</p>
                <div class="infoItem">
                    <label>Email</label>
                    <span class="email">{{contactService.currentlySelectedContact.email}}</span>
                </div>
                <div class="infoItem">
                    <label>Phone</label>
                    <span class="phone">{{contactService.currentlySelectedContact.phone}}</span>
                </div>
            </div>
        </div>
    </div>
</section>