<section class="details-content">
    <div class="backBtn" (click)="contactService.changeMobileContactView(isMobileView); setInitialValues()">
        <img src="./assets/icones/arrow-left-line.svg" alt="back">
    </div>
    <div class="moreBtn mobileBtn" (click)="toggleMoreControlOverview()">
        <img src="./assets/icones/more_vert.svg" alt="back">
    </div>
    <div class="moreControlOverview"
        [ngClass]="{'fadeInControlMore':isMoreControlOverviewShown, 'fadeOutControlMore':!isMoreControlOverviewShown && !isInitialLoad}"
        (click)="setInitialValues()">
        <div class="moreControlContent">
            <div class="moreControlBtn" (click)="showEditContact()">
                <img src="./assets/icones/edit.svg" alt="edit">
                <p>Edit</p>
            </div>
            <div class="moreControlBtn">
                <img src="./assets/icones/delete.svg" alt="delete">
                <p
                    (click)="contactService.deleteContact(contactService.currentlySelectedContact); contactService.changeMobileContactView(isMobileView); setInitialValues()">
                    Delete</p>
            </div>
        </div>
    </div>
    <div class="headline">
        <div class="headline-content">
            <h1>Contacts</h1>
            <span class="separatorVertical">|</span>
            <span class="subtitle">Better with a team</span>
            <div class="separatorHorizontal"></div>
        </div>
    </div>


    <div class="contact-info" [ngClass]="{'d_none': !contactService.isContactSelected}">
        <div class="contact-headline">
            <div class="avatar-wrapper">
                <div class="avatar backgroundColor{{contactService.currentlySelectedContact.nameShortcutColorCode}}">
                    {{contactService.currentlySelectedContact.nameShortcut}}</div>
                <h2>{{contactService.currentlySelectedContact.fullName}}</h2>
            </div>
            <div class="actions">
                <button class="edit" (click)="showEditContact()">
                    <img src="./assets/icones/edit.svg" alt="edit">
                    Edit
                </button>
                <button class="delete" alt="delete"
                    (click)="contactService.deleteContact(contactService.currentlySelectedContact); contactService.changeMobileContactView(isMobileView); setInitialValues()">
                    <img src="./assets/icones/delete.svg" alt="delete">
                    Delete
                </button>
            </div>
        </div>
        <div class="contact-details">
            <h3>Contact Information</h3>
            <div class="info-item">
                <label>Email</label>
                <span class="email">{{contactService.currentlySelectedContact.email}}</span>
            </div>
            <div class="info-item">
                <label>Phone</label>
                <span class="phone">{{contactService.currentlySelectedContact.phone}}</span>
            </div>
        </div>
    </div>
</section>