@import './../../../../styles.scss';

.details-content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 96px;
    height: calc(100vh - 96px);
    padding: 64px 32px;
    overflow: hidden;


    .contact-info {
        transform: translateX(1300px);
        animation: fadeIn 125ms forwards;

        .contact-headline {

            margin-bottom: 32px;
            position: relative;
            display: flex;
            justify-content: space-between;
            align-items: flex-start;

            .avatar-wrapper {
                min-height: 120px;
                position: relative;

                .avatar {
                    position: absolute;
                    width: 90px;
                    height: 90px;
                    border-radius: 50%;
                    @include setFlex();
                    color: white;
                    font-size: $fsH3;
                    border: 2px solid white;
                    top: 70px;
                    left: 0;
                }

                h2 {
                    color: $clrBaseDark;
                    padding-left: 120px;
                    padding-top: 70px;
                    font-weight: 500;
                    white-space: nowrap;
                }
            }

            .actions {
                @include setFlex($gap: 0px);
                position: absolute;
                left: 110px;
                top: 120px;

                button {
                    @include setFlex($gap: 8px);
                    background: none;
                    border: none;
                    color: $clrBaseDark;
                    padding: 8px;

                    img {
                        width: 24px;
                        height: 24px;
                        transition: all 0.3s ease;
                    }

                    &:hover {
                        color: $clrHighlight2;
                        font-weight: 500;

                        img {
                            filter: invert(67%) sepia(72%) saturate(463%) hue-rotate(165deg) brightness(87%) contrast(90%);
                        }
                    }
                }
            }
        }

        .contact-details {
            margin-top: 32px;

            h3 {
                font-size: $fSDefault;
                color: $clrBaseDark;
                margin-bottom: 24px;
                font-weight: 400;
                padding-top: 40px;
            }

            .info-item {
                @include setFlex($fd: column, $ai: flex-start, $gap: 8px);
                margin-top: 50px;

                label {
                    display: block;
                    margin-bottom: 8px;
                    color: $clrBaseDark;
                    font-size: $fSSec;
                    font-weight: 600;
                }

                .email {
                    color: $clrHighlight2;
                    font-size: $fSSec;
                }

                .phone {
                    color: $clrBaseDark;
                    font-size: $fSSec;
                }
            }
        }
    }
}

.headline-content {
    @include setFlex($jc: flex-start, $gap: 16px);

    h1 {
        font-size: $fsH4;
        color: $clrBaseDark;
    }

    .subtitle {
        color: $clrBaseDark;
        font-size: $fsH3;
    }
}

.separatorVertical {
    color: $clrHighlight2;
    font-size: $fsH2;
}

.separatorHorizontal {
    display: none;
    width: 90px;
    border-top: 2px solid $clrHighlight2 ;

}

@keyframes fadeIn {
    0% {
        transform: translateX(1300px);
    }

    100% {
        transform: translateX(0px);
    }
}

.moreBtn,
.backBtn {
    display: none;
}

.moreControlOverview {
    position: absolute;
    z-index: 99;
    transform: translateX(120%);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.moreControlContent {
    position: absolute;
    right: 8px;
    bottom: 16px;

    @include setFlex($fd: column, $ai: flex-start, $gap: 8px);
    width: 116px;
    height: 100px;

    background-color: $clrBaseBright;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    padding: 10px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.2));
}

.fadeInControlMore {
    animation: fadeInControlMore 500ms ease-in-out forwards;
}

.fadeOutControlMore {
    animation: fadeOutControlMore 500ms ease-in-out forwards;
}

@keyframes fadeInControlMore {
    0% {
        transform: translateX(120%);
    }

    100% {
        transform: translateX(0%);
    }
}

@keyframes fadeOutControlMore {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(120%);
    }
}


.moreControlBtn {
    cursor: pointer;
    @include setFlex($gap: 8px);
}