<div class="modalOverlay overlay" [class.show]="contactService.isAddContactViewed" (click)="closeModal($event)">
    <div class="modalContent">
        <div class="modalHeader">
            <img src="./assets/img/join_logo.png" alt="Join Logo" class="logo">
            <div class="titleContainer">
                <h1>Add contact</h1>
                <span class="subtitle">Tasks are better with a team!</span>
                <div class="blueLine"></div>
            </div>
        </div>

        <form [formGroup]="contactForm" (ngSubmit)="onSubmit()" class="formContent">
            <div class="avatarContainer">
                <img src="./assets/img/icons/Group 13.svg" alt="Person Icon" class="personIcon">
            </div>

            <div class="formFields">
                <div class="inputAndErrorContainer">
                    <div class="inputContainer">
                        <input type="text" formControlName="name" placeholder="Name" class="inputField">
                        <img src="./assets/img/icons/person.svg" alt="Person" class="inputIcon">
                    </div>
                    <div class="errorMessageContainer">
                        @if (contactForm.get('name')?.invalid && contactForm.get('name')?.touched) {
                        <p class="errorMessage">Please enter a name</p>
                        }
                    </div>
                </div>

                <div class="inputAndErrorContainer">
                    <div class="inputContainer">
                        <input type="email" formControlName="email" placeholder="Email" class="inputField">
                        <img src="./assets/img/icons/mail.svg" alt="Email" class="inputIcon">
                    </div>
                    <div class="errorMessageContainer">
                        @if (contactForm.get('email')?.invalid && contactForm.get('email')?.touched) {
                        <p class="errorMessage">Please enter a valid email</p>
                        }
                    </div>
                </div>

                <div class="inputAndErrorContainer">
                    <div class="inputContainer">
                        <input type="tel" formControlName="phone" placeholder="Phone" class="inputField">
                        <img src="./assets/img/icons/call.svg" alt="Phone" class="inputIcon">
                    </div>
                    <div class="errorMessageContainer">
                        @if (contactForm.get('phone')?.invalid && contactForm.get('phone')?.touched) {
                        <p class="errorMessage">Please enter a valid phone number</p>
                        }
                    </div>
                </div>

                <div class="buttonContainer">
                    <button type="button" class="cancelBtn" (click)="close()">
                        Cancel
                        <img src="./assets/img/icons/close.svg" alt="Cancel">
                    </button>
                    <button type="submit" class="createBtn">
                        Create contact
                        <img src="./assets/img/icons/check.svg" alt="Create">
                    </button>
                </div>
            </div>
        </form>

        <button class="closeBtn" (click)="close()">
            <img src="./assets/img/icons/close.svg" alt="Close">
        </button>
    </div>
</div>