@import './../../../../../styles.scss';

.listContactContainer {
    @include setFlex($jc: flex-start, $gap: 8px);
    cursor: pointer;
    padding: 17px 32px;
    border-radius: $stdRadiusInteractive;

    &:hover {
        background-color: $clrBackground;
        color: $clrBaseDark;
    }
}

.listContactContainer__img {
    @include setFlex();
    border-radius: 500px;
    width: 50px;
    height: 50px;
    padding: 8px;
    background-color: lightcoral;
    border: 2px solid $clrBaseBright;
    color: $clrBaseBright;
}

.contactEmail {
    color: $clrHighlight2;
}

.selected {
    color: $clrBaseBright !important;
    background-color: $clrHighlight1 !important;
}