<div class="listContactContainer"
    (click)="contactService.setCurrentlySelectedContact(contact); contactService.changeMobileContactView(isMobileView)"
    [ngClass]="{'selected':contactService.isContactSelected && contactService.currentlySelectedContact.id === contact.id}">
    <div class="listContactContainer__img backgroundColor{{contact.nameShortcutColorCode}}">
        @if (contact.img ==="") {
        <p>{{contact.nameShortcut}}</p>
        }@else {
        <img src={{contact.img}} alt="">
        }
    </div>
    <div class="listContactContainer__mainInfo">
        <p class="contactName">{{contact.fullName}}</p>
        <p class="contactEmail">{{contact.email}}</p>
    </div>
</div>