@import './../../../styles.scss';

#signupSection {
    @include setFlex();
    padding-left: 8px;
    padding-right: 8px;
}

.signupSectionContent {
    @include setFlex($fd: column, $jc:space-between, $gap: 8px);
    min-height: 100vh;
}

.logoContainer{
    align-self: flex-start;
    @include setFlex($ai:center);
    padding: 8px;
    height: 100px;
    img{
        height: 100%;
        width: auto;        
    };
}

.signUpContainer{
    position: relative;
    padding: 44px 88px;
    border-radius: 30px;
    @include setFlex($fd: column);
    background-color: $clrBaseBright;
    filter: drop-shadow(0px 0px 14px rgba(0, 0, 0, 0.2));
    min-width: 300px;
}

.horizontal-seperator{
    width: 120px;
    border-top: 3px solid $clrHighlight2;
    margin-bottom: 30px;
}

.backLink{
    cursor: pointer;
    position: absolute;
    top: 60px;
    left: 48px;
    padding: 0px;
}

.signUpForm{
    @include setFlex($fd: column, $gap:8px);
}

.inputAndErrorContainer {
    @include setFlex($fd: column, $ai: stretch)
}

.inputContainer {
    position: relative;
}

.input-field {
    width: 100%;
}

.inputIconContainer{
    position: absolute;
    height: 100%;
    top: 0;
    right: 0;
    padding-right: 21px;
    @include setFlex();
}

.pointer{
    cursor: pointer;
}

.inputIinputIconcon{
   width: 24px;
   height: 24px;
}

.checkPPContainer{
    font-size: 16px;
    @include setFlex($gap:8px);
    a{
        padding: 0;
        font: inherit;
    }
}

.serverError{
    @include setFlex($jc: flex-start);
    align-self: stretch;
    border-radius: 10px;
    padding: 8px;
    background-color: $clrErrorMessageBackground;

    svg{
        path{
            fill: $clrErrorMessageText;
        }
    }

}

.errorMessageContainer {
    @include setFlex($jc: flex-start);
    height: 16px;
}

.errorMessage {
    color: $clrErrorMessageText;
    padding-left: 8px;
    font-size: 12px;
}

.signupBTN{
    &:disabled{
        pointer-events: none;
    }
}

.footerContainer{
    @include setFlex();
    height: 100px;
    gap: 35px;
    >a{
        color: rgb(190, 189, 189);
        padding: 0;
        transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;
        &:hover{
            color: $clrHighlight2;
            border-color: $clrHighlight2;
            transform: scale(1.1);
        }  
    }
}

.confirmationMessageContainer{
    @include setFlex();
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    transform: translateY(120%);
    animation: fadeInConfirmation 125ms ease-in-out forwards;
}

.confirmationMessage{
    @include setFlex($gap:48px);
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    border-radius: 20px;
    width: 326px;
    height: 74px;
    background-color: $clrHighlight1;
    color: $clrBaseBright;
    padding: 16px 8px;
}

@keyframes fadeInConfirmation {
    0% {
        transform: translateY(120%);
    }

    100% {
        transform: translateY(0%);
    }
}