@import './variables';

h1 {
    font-size: $fsH1;
    font-weight: $fwH1;
}

h2 {
    font-size: $fsH2;
    font-weight: $fwH2;
}

h3 {
    font-size: $fsH3;
    font-weight: $fwH3;
}

a {
    cursor: pointer;
    text-decoration: none;
    border-radius: $stdRadiusInteractive;
    padding: $stdPaddingInteractive;
    transition: $stdTransition;
    font-family: inherit;
    font-size: $fSDefaultInteractive;
    font-weight: $fwDefaultInteractive;

    &:hover {
        cursor: pointer;
        color: #29ABE2;
    }

    &:active {}

    &:link {
        color: $clrBaseDark;
    }

    &:visited {
        color: $clrBaseDark;
    }

    &:disabled {
        cursor: default;
        color: $clrDisabled;
        border: 1px solid $clrDisabled;

        &:hover {
            cursor: default;
            color: $clrDisabled;
            border: 1px solid $clrDisabled;
        }
    }
}

button {
    cursor: pointer;
    border-radius: $stdRadiusInteractive;
    padding: $stdPaddingInteractive;
    transition: $stdTransition;
    font-family: inherit;
    font-size: $fSDefaultInteractive;
    font-weight: $fwDefaultInteractive;

    &:hover {}

    &:disabled {
        cursor: default;
        color: $clrDisabled;
        border: 1px solid $clrDisabled;

        &:hover {
            cursor: default;
            color: $clrDisabled;
            border: 1px solid $clrDisabled;
            background-color: $clrHighlight1;
            filter: none;
        }
    }
}

input,
textarea {
    font-family: inherit;
    font-size: $fSDefaultInteractive;
    font-weight: $fwDefaultInteractive;
    border-radius: $stdRadiusInteractive;
    padding: $stdPaddingInteractive;
    border: 1px solid $clrBaseGray;
    transition: border-color 0.2s ease-in-out;


    &:focus {
        border: 1px solid $clrHighlight2; 
        outline: none;
    }

    &.errorInput {
        border: 1px solid $clrErrorMessageText; 
    }

}

input,
textarea {
    font-family: inherit;
    font-size: $fSDefaultInteractive;
    font-weight: $fwDefaultInteractive;
    border-radius: $stdRadiusInteractive;
    padding: $stdPaddingInteractive;
    border: 1px solid $clrBaseGray;

    &:active,
    &:focus-visible {
        border: 1px solid $clrHoverIcon;  
        outline: none;
    }
}

.errorInput {
    border: 1px solid $clrErrorMessageText !important;
}

.selectionInput {
    border: 1px solid $clrBaseGray;

    &:focus, &:active, &.active {
        border: 1px solid $clrHoverIcon !important;
    }
}