// ########################################################### Standard's ###########################################################
$stdRadiusInteractive: 10px; // standard for BTN, Input ...
$stdPaddingInteractive: 12px 21px; // standard for BTN, Input ...
$stdTransition: all 125ms ease-in-out;

// ########################################################### Colors's ###########################################################
$clrBaseBright: #ffffff;
$clrBaseDark: #0e1013;
$clrBackground: #f6f7f8;
$clrHighlight1: #2a3647;
$clrHighlight1Darker: #091931;
$clrHighlight2: #29abe2;

$clrHoverIcon: #a8a8a8;
$clrSeparatingLines: #D1D1D1;
$clrBaseGray: #D1D1D1;

$clrProgressbar: #4589FF;
$clrProgressbarBackground: #F4F4F4;



$clrContact1: #0038FF;
$clrContact2: #FF7A00;
$clrContact3: #FF5EB3;
$clrContact4: #6E52FF;
$clrContact5: #9327FF;
$clrContact6: #00BEE8;
$clrContact7: #1FD7C1;
$clrContact8: #FF745E;
$clrContact9: #FFA35E;
$clrContact10: #FC71FF;
$clrContact11: #FFC701;
$clrContact12: #C3FF2B;
$clrContact13: #FFE62B;
$clrContact14: #FF4646;
$clrContact15: #FFBB2B;

$clrPrioUrgend: #ff3d00;
$clrPrioMedium: #ffa800;
$clrPrioLow: #7ae229;

$clrErrorMessageText: #FF3A00;
$clrDisabled: #7d7d7e;

// ########################################################### Fonts ###########################################################
$font-family-base: 'Inter', Arial, Helvetica, sans-serif;
//Desktop
//Font-size (fs)
$fsH1: 61px;
$fsH2: 32px;
$fsH3: 24px;
$fsH4: 12px;
$fsH5: 42px;
$fSDefault: 20px;
$fSSec: 18px;
$fSTer: 16px;
$fSDefaultInteractive: 20px;
//Font-weight (fw)
$fwH1: 700;
$fwH2: 700;
$fwH3: 700;
$fWDefault: 400;
$fwDefaultInteractive: 400;

//Mobile
//Font-size (fs)
$fsMobileH1: 47px;
$fsMobileH2: 32px;
$fsMobileH3: 20px;
$fSMobileDefault: 18px;
$fSMobileSec: 16px;
$fSMobileTer: 14px;
$fSMobileDefaultInteractive: 16px;
//Font-weight (fw)
$fwMobileH1: 700;
$fwMobileH2: 700;
$fwMobileH3: 700;
$fWMobileDefault: 400;
$fwMobileInteractive: 500;