@import "./../../../styles.scss";


@media (max-width: 1500px){
    .example-list{
        min-width: 0;
        width: 260px;
    }
    .example-box{
        width: 230px;
    }
    .example-container{
        width: 240px;
    }
}

@media (max-width: 1400px){
    .section{
        padding-top: 32px;
        padding-right: 32px;
        padding-bottom: 32px;
    }
    .example-list{
        min-width: 0;
        width: 235px;
    }
    .example-box{
        width: 210px;
    }
    .example-container{
        width: 200px;
    }
    .column-title{
        width: 110%;
        >h2{
            font-size: 18px;
        }
        >img{
            width: 18px;
            margin-right: 16px;
        }
    }
}

@media (max-width: 1300px){
    .board-container{
        justify-content: space-evenly;
        gap: 20px;
    }
    .example-box{
        width: 190px;
    }
    .example-list{
        min-width: 0;
        width: 216px;
    }
    .column-title{
        width: 100%;
    }
}


@media (max-width: 1200px){
    section{
        height: calc(100vh - 96px - 68px);
        max-width: 100vw;
        padding-right: 0;
        padding-left: 0;
        padding-bottom: 0;
    }
    .column-title{
        width: 97%;
    }
    .board-container{
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        width: 100%;
        overflow-y: auto;
        scrollbar-width: none;

        &::-webkit-scrollbar{
        display: none; // Scrollbar ausblenden
        width: 0;
        height: 0;
        }
    }
    .add-task-button{
        color: transparent;
        background-color: transparent;
        border: unset;
        border-radius: 10px;
        height: 48px;
        @include setFlex();
        &:hover{
            background-color: transparent;
            box-shadow: none;
        }
    }
    .title-container{
        width: 100%;
        >h1{
            margin-left: 1rem;
        }
    }
    .input-task-container{
        margin-right: 1rem;
    }
    .example-container{
        width: 100%;
        height: 224px;
    }

    .example-list{
        display: flex;
        width: 100%;
        gap: 24px;
        overflow-x: auto;
        white-space: nowrap; // Verhindert Umbrüche
        scrollbar-width: none;
    
        &::-webkit-scrollbar {
            display: none; // Scrollbar ausblenden
            width: 0;
            height: 0;
        }
    
        &::-webkit-scrollbar-thumb {
            border-radius: 4px;
        }
    }
    .example-box{
        height: 180px;
        align-items: flex-start;
        width: auto;
        max-width: 220px;
    }

    .no-tasks{
        width: 15%;
    }

    .iconLink{
        margin-right: 8px;
    }


    @media (max-width: 1000px){
        .input-task-container{
            margin-right: 8px;
            gap: 0;
        }
        .search-bar{
            width: 200px;
        }
    }

    @media (max-width: 600px){
        .title-container{
            align-items: flex-start;
            flex-direction: column;
            >h1{
                font-size: 52px;
            }
        }
        .search-bar{
            margin-left: 16px;
        }
        .input-task-container{
            margin-top: 16px;
            width: 100%;
            justify-content: space-between;
        }
    }
}