<section>
    <div class="addtaskOverlay" [ngClass]="{
            'd_none':!taskService.isAddTaskOverlayDisplayed}" (click)="taskService.toggleIsAddTaskOverlayDisplayed()">
        <div class="addTaskContainer" (click)="$event.stopPropagation()"
            [ngClass]="{'fadeInOverlay': taskService.isAddTaskOverlayDisplayed}">
            <div class="closeContainer" (click)="taskService.toggleIsAddTaskOverlayDisplayed()">
                <img src="./assets/img/icons/close.svg" alt="close">
            </div>
            <app-add-task [overlayMode]="true"></app-add-task>
        </div>
    </div>
    <div class="taskOverlay" [ngClass]="{'d_none':!taskService.isTaskOverlayDisplayed}"
        (click)="taskService.toggleIsTaskOverlayDisplayed(); taskService.isAssignedToOpen=false">
        <div class="taskOverlayContainer" (click)="$event.stopPropagation()"
            [ngClass]="{'fadeInOverlay': taskService.isTaskOverlayDisplayed}">
            <div class="closeContainer" (click)="taskService.toggleIsTaskOverlayDisplayed()">
                <img src="./assets/img/icons/close.svg" alt="close">
            </div>
            <app-boardoverlay></app-boardoverlay>
        </div>
    </div>

    <div class="titleContainer">
        <h1>Board</h1>
        <div class="inputTaskContainer">
            <div class="searchBar">
                <input class="searchInput" type="text" name="query" placeholder="Find Task" [(ngModel)]="searchString"
                    (input)="searchTask()">
                <div class="seperator"></div>
                <img src="./assets/img/icons/search-icon.png" alt="search icon">
            </div>
            @if(isMobileView){
            <a class="addTaskButton" routerLink="/addTask"
                (click)="taskService.setStatusToBeUsed('toDo'); changeImage(); navbarService.setSelection('addTask')"><img
                    [src]="clicked?'./assets/img/icons/add-task-clicked-icon.png' : './assets/img/icons/add-task-mobile-icon.png'"
                    alt="Add Task"></a>
            }@else {
            <button class="addTaskButton"
                (click)="taskService.toggleIsAddTaskOverlayDisplayed(); taskService.setStatusToBeUsed('toDo')">Add
                task</button>
            }
        </div>
    </div>
    <div class="boardContainer">
        <div class="exampleContainer">
            <div class="columnTitle">
                <h2>To do</h2>
                @if(isMobileView){
                <a class="iconLink" routerLink="/addTask"
                    (click)="taskService.setStatusToBeUsed('toDo'); navbarService.setSelection('addTask')">
                    <svg class="plusIconColour" width="24" height="24" viewBox="0 0 24 24" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <rect x="1" y="1" width="22" height="22" rx="7" stroke="#2A3647" stroke-width="2" />
                        <path d="M12 8V16" stroke="#2A3647" stroke-width="2" stroke-linecap="round" />
                        <path d="M16 12.0754L8 12.0754" stroke="#2A3647" stroke-width="2" stroke-linecap="round" />
                    </svg>
                </a>
                }@else {
                <svg class="plusIconColour" width="24" height="24" viewBox="0 0 24 24" fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                    (click)="taskService.toggleIsAddTaskOverlayDisplayed(); taskService.setStatusToBeUsed('toDo')">
                    <rect x="1" y="1" width="22" height="22" rx="7" stroke="#2A3647" stroke-width="2" />
                    <path d="M12 8V16" stroke="#2A3647" stroke-width="2" stroke-linecap="round" />
                    <path d="M16 12.0754L8 12.0754" stroke="#2A3647" stroke-width="2" stroke-linecap="round" />
                </svg>
                }
            </div>
            @if (taskService.tasksToDo.length <=1){ <div class="noTasks">
                <p class="noTaskMsg">No tasks</p>
        </div>
        }
        <div cdkDropList id="toDoList" #todoList="cdkDropList" [cdkDropListData]="taskService.tasksToDo"
            [cdkDropListConnectedTo]="[doneList, inProgressList, awaitingFeedbackList]" class="exampleList"
            (cdkDropListDropped)="drop($event)">
            <!-- No Search -->
            @if (this.isSearchActive ==false) {
            @for (task of taskService.tasksToDo; track task) {
            <div class="exampleBox" cdkDrag
                (click)="taskService.setCurrentTask(task); taskService.toggleIsTaskOverlayDisplayed()"><app-single-card
                    [task]="task"></app-single-card></div>
            }
            }
            <!-- Search without results -->
            @if (this.isSearchActive == true && this.allSearchResults == []) {
            <!-- empty result -->
            }
            <!--Search with results-->
            @if (this.isSearchActive == true && this.allSearchResults != []) {
            @for (task of taskService.tasksToDo; track task) {
            @if(isTaskInSearchResult(task)){
            <div class="exampleBox" cdkDrag [cdkDragDisabled]="isDragDisabled"
                (click)="taskService.setCurrentTask(task); taskService.toggleIsTaskOverlayDisplayed()"><app-single-card
                    [task]="task"></app-single-card></div>
            }
            }
            }
        </div>
    </div>
    <div class="exampleContainer">
        <div class="columnTitle">
            <h2>In progress</h2>
            @if(isMobileView){
            <a class="iconLink" routerLink="/addTask"
                (click)="taskService.setStatusToBeUsed('inProgress'); navbarService.setSelection('addTask')">
                <svg class="plusIconColour" width="24" height="24" viewBox="0 0 24 24" fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <rect x="1" y="1" width="22" height="22" rx="7" stroke="#2A3647" stroke-width="2" />
                    <path d="M12 8V16" stroke="#2A3647" stroke-width="2" stroke-linecap="round" />
                    <path d="M16 12.0754L8 12.0754" stroke="#2A3647" stroke-width="2" stroke-linecap="round" />
                </svg>
            </a>
            }@else {
            <svg class="plusIconColour" width="24" height="24" viewBox="0 0 24 24" fill="none"
                xmlns="http://www.w3.org/2000/svg"
                (click)="taskService.toggleIsAddTaskOverlayDisplayed(); taskService.setStatusToBeUsed('inProgress')">
                <rect x="1" y="1" width="22" height="22" rx="7" stroke="#2A3647" stroke-width="2" />
                <path d="M12 8V16" stroke="#2A3647" stroke-width="2" stroke-linecap="round" />
                <path d="M16 12.0754L8 12.0754" stroke="#2A3647" stroke-width="2" stroke-linecap="round" />
            </svg>
            }
        </div>
        @if (taskService.tasksInProgress.length <=1){ <div class="noTasks">
            <p class="noTaskMsg">No tasks</p>
    </div>
    }
    <div cdkDropList id="inProgressList" #inProgressList="cdkDropList" [cdkDropListData]="taskService.tasksInProgress"
        [cdkDropListConnectedTo]="[todoList, doneList, awaitingFeedbackList]" class="exampleList"
        (cdkDropListDropped)="drop($event)">
        <!-- No Search -->
        @if (this.isSearchActive ==false) {
        @for (task of taskService.tasksInProgress; track task) {
        <div class="exampleBox" cdkDrag
            (click)="taskService.setCurrentTask(task); taskService.toggleIsTaskOverlayDisplayed()"><app-single-card
                [task]="task"></app-single-card></div>
        }
        }
        <!-- Search without results -->
        @if (this.isSearchActive == true && this.allSearchResults == []) {
        <!-- empty results -->
        }
        <!-- Search with results -->
        @if (this.isSearchActive == true && this.allSearchResults != []) {
        @for (task of taskService.tasksInProgress; track task) {
        @if(isTaskInSearchResult(task)){
        <div class="exampleBox" cdkDrag
            (click)="taskService.setCurrentTask(task); taskService.toggleIsTaskOverlayDisplayed()"><app-single-card
                [task]="task"></app-single-card></div>
        }
        }
        }
    </div>
    </div>
    <div class="exampleContainer">
        <div class="columnTitle">
            <h2>Awaiting feedback</h2>
            @if(isMobileView){
            <a class="iconLink" routerLink="/addTask"
                (click)="taskService.setStatusToBeUsed('awaitFeedback'); navbarService.setSelection('addTask')">
                <svg class="plusIconColour" width="24" height="24" viewBox="0 0 24 24" fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <rect x="1" y="1" width="22" height="22" rx="7" stroke="#2A3647" stroke-width="2" />
                    <path d="M12 8V16" stroke="#2A3647" stroke-width="2" stroke-linecap="round" />
                    <path d="M16 12.0754L8 12.0754" stroke="#2A3647" stroke-width="2" stroke-linecap="round" />
                </svg>
            </a>
            }@else {
            <svg class="plusIconColour" width="24" height="24" viewBox="0 0 24 24" fill="none"
                xmlns="http://www.w3.org/2000/svg"
                (click)="taskService.toggleIsAddTaskOverlayDisplayed(); taskService.setStatusToBeUsed('awaitFeedback')">
                <rect x="1" y="1" width="22" height="22" rx="7" stroke="#2A3647" stroke-width="2" />
                <path d="M12 8V16" stroke="#2A3647" stroke-width="2" stroke-linecap="round" />
                <path d="M16 12.0754L8 12.0754" stroke="#2A3647" stroke-width="2" stroke-linecap="round" />
            </svg>
            }
        </div>
        @if (taskService.tasksAwaitFeedback.length <=1){ <div class="noTasks">
            <p class="noTaskMsg">No tasks</p>
    </div>
    }
    <div cdkDropList id="awaitFeedbackList" #awaitingFeedbackList="cdkDropList"
        [cdkDropListData]="taskService.tasksAwaitFeedback"
        [cdkDropListConnectedTo]="[todoList, doneList, inProgressList]" class="exampleList"
        (cdkDropListDropped)="drop($event)">
        <!-- No Search -->
        @if (this.isSearchActive ==false) {
        @for (task of taskService.tasksAwaitFeedback; track task) {
        <div class="exampleBox" cdkDrag
            (click)="taskService.setCurrentTask(task); taskService.toggleIsTaskOverlayDisplayed()"><app-single-card
                [task]="task"></app-single-card></div>
        }
        }
        <!-- Search without results -->
        @if (this.isSearchActive == true && this.allSearchResults == []) {
        <!-- empty results -->
        }
        <!-- Search with results -->
        @if (this.isSearchActive == true && this.allSearchResults != []) {
        @for (task of taskService.tasksAwaitFeedback; track task) {
        @if(isTaskInSearchResult(task)){
        <div class="exampleBox" cdkDrag
            (click)="taskService.setCurrentTask(task); taskService.toggleIsTaskOverlayDisplayed()"><app-single-card
                [task]="task"></app-single-card></div>
        }
        }
        }
    </div>
    </div>
    <div class="exampleContainer">
        <div class="columnTitle">
            <h2>Done</h2>
        </div>
        @if (taskService.tasksDone.length <=1){ <div class="noTasks">
            <p class="noTaskMsg">No tasks</p>
    </div>
    }
    <div cdkDropList id="doneList" #doneList="cdkDropList" [cdkDropListData]="taskService.tasksDone"
        [cdkDropListConnectedTo]="[todoList, inProgressList, awaitingFeedbackList]" class="exampleList"
        (cdkDropListDropped)="drop($event)">
        <!-- No Search -->
        @if (this.isSearchActive ==false) {
        @for (task of taskService.tasksDone; track task) {
        <div class="exampleBox" cdkDrag
            (click)="taskService.setCurrentTask(task); taskService.toggleIsTaskOverlayDisplayed()"><app-single-card
                [task]="task"></app-single-card></div>
        }
        }
        <!-- Search without results -->
        @if (this.isSearchActive == true && this.allSearchResults == []) {
        <!-- empty search -->
        }
        <!-- Search with results -->
        @if (this.isSearchActive == true && this.allSearchResults != []) {
        @for (task of taskService.tasksDone; track task) {
        @if(isTaskInSearchResult(task)){
        <div class="exampleBox" cdkDrag
            (click)="taskService.setCurrentTask(task); taskService.toggleIsTaskOverlayDisplayed()"><app-single-card
                [task]="task"></app-single-card></div>
        }
        }
        }
    </div>
    </div>
    </div>
</section>