<section>
    <div class="addtaskOverlay"
        [ngClass]="{'d_none':!taskService.isAddTaskOverlayDisplayed}" 
        (click)="taskService.toggleIsAddTaskOverlayDisplayed()">
        <div class="addTaskContainer" (click)="$event.stopPropagation()">
            <div class="closeContainer" (click)="taskService.toggleIsAddTaskOverlayDisplayed()">
                <img src="./assets/img/icons/close.svg" alt="close">
            </div>
            <app-add-task [statusToBeUsed]="statusToBeUsed" [overlayMode]="true"></app-add-task>
        </div>
    </div>
    <div class="taskOverlay" [ngClass]="{'d_none':!taskService.isTaskOverlayDisplayed}" (click)="taskService.toggleIsTaskOverlayDisplayed()">
        <div class="taskOverlayContainer" (click)="$event.stopPropagation()">
            <div class="closeContainer" (click)="taskService.toggleIsTaskOverlayDisplayed()">
                <img src="./assets/img/icons/close.svg" alt="close">
            </div>
            <app-boardoverlay></app-boardoverlay>
        </div>
    </div>

    <div class="title-container">
        <h1>Board</h1>
        <div class="input-task-container">
            <div class="search-bar">
                <input class="search-input" type="search" name="query" placeholder="Find Task" [(ngModel)]="searchString" (input)="searchTask()">
                <div class="seperator"></div>
                <button (click)="searchTask()">Search</button>
            </div>
            <button class="add-task-button" (click)="taskService.toggleIsAddTaskOverlayDisplayed(); setStatusToBeUsed('toDo')">Add task</button>
        </div>
    </div>
    
    <div class="task-board">
        <div class="task-board-container">
        <div class="column-title-container">
            <div class="column-title">
                <h2>To do</h2>
                <img src="./assets/img/icons/plus button.png" alt="add task icon" (click)="taskService.toggleIsAddTaskOverlayDisplayed(); setStatusToBeUsed('toDo')">
            </div>
            <div class="column-title">
                <h2>In progress</h2>
                <img src="./assets/img/icons/plus button.png" alt="add task icon" (click)="taskService.toggleIsAddTaskOverlayDisplayed(); setStatusToBeUsed('inProgress')">
            </div>
            <div class="column-title">
                <h2>Awaiting feedback</h2>
                <img src="./assets/img/icons/plus button.png" alt="add task icon" (click)="taskService.toggleIsAddTaskOverlayDisplayed(); setStatusToBeUsed('awaitFeedback')">
            </div>
            <div class="column-title">
                <h2>Done</h2>
            </div>
        </div>
    </div>
    <div>
        <div class="example-container">
            <div class="no-tasks">
                <p class="no-task-msg">No tasks</p>
            </div>

            <div cdkDropList #todoList="cdkDropList" [cdkDropListData]="taskService.tasksToDo"
                [cdkDropListConnectedTo]="[doneList, inProgressList, awaitingFeedbackList]" class="example-list"
                (cdkDropListDropped)="drop($event)">
                
                
                <!-- Keine Suche -->
                @if (this.isSearchActive ==false) {
                    @for (task of taskService.tasksToDo; track task) {
                        <div class="example-box" cdkDrag (click)="taskService.setCurrentTask(task); taskService.toggleIsTaskOverlayDisplayed()"><app-single-card
                                [task]="task"></app-single-card></div>
                    }
                }
                <!-- Suche ohne Ergebnisse -->
                @if (this.isSearchActive == true && this.allSearchResults == []) {
                    <!-- irgendwas leeres -->
                }
                <!--Suche mit Ergebnissen -->
                @if (this.isSearchActive == true && this.allSearchResults != []) {
                    @for (task of taskService.tasksToDo; track task) {
                        @if(isTaskInSearchResult(task)){
                            <div class="example-box" cdkDrag (click)="taskService.setCurrentTask(task); taskService.toggleIsTaskOverlayDisplayed()"><app-single-card
                                    [task]="task"></app-single-card></div>
                        }
                    }
                }
            </div>
        </div>

        <div class="example-container">
            <div class="no-tasks">
                <p>No tasks</p>
            </div>
            <div cdkDropList #inProgressList="cdkDropList" [cdkDropListData]="taskService.tasksInProgress"
                [cdkDropListConnectedTo]="[todoList, doneList, awaitingFeedbackList]" class="example-list"
                (cdkDropListDropped)="drop($event)">
                @for (task of taskService.tasksInProgress; track task) {
                <div class="example-box" cdkDrag (click)="taskService.setCurrentTask(task); taskService.toggleIsTaskOverlayDisplayed()">
                    <app-single-card [task]="task"></app-single-card>
                </div>
                }
            </div>
        </div>

        <div class="example-container">
            <div class="no-tasks">
                <p>No tasks</p>
            </div>
            <div cdkDropList #awaitingFeedbackList="cdkDropList" [cdkDropListData]="taskService.tasksAwaitFeedback"
                [cdkDropListConnectedTo]="[doneList, inProgressList, todoList]" class="example-list"
                (cdkDropListDropped)="drop($event)">
                @for (task of taskService.tasksAwaitFeedback; track task) {
                <div class="example-box" cdkDrag (click)="taskService.setCurrentTask(task); taskService.toggleIsTaskOverlayDisplayed()">
                    <app-single-card [task]="task"></app-single-card>
                </div>
                }
            </div>
        </div>

        <div class="example-container">
            <div class="no-tasks">
                <p>No tasks</p>
            </div>
            <div cdkDropList #doneList="cdkDropList" [cdkDropListData]="taskService.tasksDone"
                [cdkDropListConnectedTo]="[todoList, inProgressList, awaitingFeedbackList]" class="example-list"
                (cdkDropListDropped)="drop($event)">
                @for (task of taskService.tasksDone; track task) {
                <div class="example-box" cdkDrag (click)="taskService.setCurrentTask(task); taskService.toggleIsTaskOverlayDisplayed()">
                    <app-single-card [task]="task"></app-single-card>
                </div>
                }
            </div>
        </div>
    </div>
</div>

<!-- 
<div class="search-board">
    <div class="task-board-container">
    <div class="column-title-container">
        <div class="column-title">
            <h2>To do</h2>
            <img src="./../../../assets/img/icons/plus button.png" alt="add task icon" (click)="taskService.toggleIsAddTaskOverlayDisplayed(); setStatusToBeUsed('toDo')">
        </div>
        <div class="column-title">
            <h2>In progress</h2>
            <img src="./../../../assets/img/icons/plus button.png" alt="add task icon" (click)="taskService.toggleIsAddTaskOverlayDisplayed(); setStatusToBeUsed('inProgress')">
        </div>
        <div class="column-title">
            <h2>Awaiting feedback</h2>
            <img src="./../../../assets/img/icons/plus button.png" alt="add task icon" (click)="taskService.toggleIsAddTaskOverlayDisplayed(); setStatusToBeUsed('awaitFeedback')">
        </div>
        <div class="column-title">
            <h2>Done</h2>
        </div>
    </div>
</div>
<div>
    <div class="example-container">
        <div class="no-tasks">
            <p>No tasks</p>
        </div>

        <div cdkDropList #todoList="cdkDropList" [cdkDropListData]="taskService.tasksToDo"
            [cdkDropListConnectedTo]="[doneList, inProgressList, awaitingFeedbackList]" class="example-list"
            (cdkDropListDropped)="drop($event)">
            @for (task of taskService.tasksToDo; track task) {
            <div class="example-box" cdkDrag (click)="taskService.setCurrentTask(task); taskService.toggleIsTaskOverlayDisplayed()"><app-single-card
                    [task]="task"></app-single-card></div>
            }
        </div>
    </div>

    <div class="example-container">
        <div class="no-tasks">
            <p>No tasks</p>
        </div>
        <div cdkDropList #inProgressList="cdkDropList" [cdkDropListData]="taskService.tasksInProgress"
            [cdkDropListConnectedTo]="[todoList, doneList, awaitingFeedbackList]" class="example-list"
            (cdkDropListDropped)="drop($event)">
            @for (task of taskService.tasksInProgress; track task) {
            <div class="example-box" cdkDrag (click)="taskService.setCurrentTask(task); taskService.toggleIsTaskOverlayDisplayed()">
                <app-single-card [task]="task"></app-single-card>
            </div>
            }
        </div>
    </div>

    <div class="example-container">
        <div class="no-tasks">
            <p>No tasks</p>
        </div>
        <div cdkDropList #awaitingFeedbackList="cdkDropList" [cdkDropListData]="taskService.tasksAwaitFeedback"
            [cdkDropListConnectedTo]="[doneList, inProgressList, todoList]" class="example-list"
            (cdkDropListDropped)="drop($event)">
            @for (task of taskService.tasksAwaitFeedback; track task) {
            <div class="example-box" cdkDrag (click)="taskService.setCurrentTask(task); taskService.toggleIsTaskOverlayDisplayed()">
                <app-single-card [task]="task"></app-single-card>
            </div>
            }
        </div>
    </div>

    <div class="example-container">
        <div class="no-tasks">
            <p>No tasks</p>
        </div>
        <div cdkDropList #doneList="cdkDropList" [cdkDropListData]="taskService.tasksDone"
            [cdkDropListConnectedTo]="[todoList, inProgressList, awaitingFeedbackList]" class="example-list"
            (cdkDropListDropped)="drop($event)">
            @for (task of taskService.tasksDone; track task) {
            <div class="example-box" cdkDrag (click)="taskService.setCurrentTask(task); taskService.toggleIsTaskOverlayDisplayed()">
                <app-single-card [task]="task"></app-single-card>
            </div>
            }
        </div>
    </div>
</div>
</div> -->
</section>