@import "./../../../styles.scss";


@media (max-width: 1500px){
    .exampleList{
        min-width: 0;
        width: 260px;
    }
    .exampleBox{
        width: 230px;
    }
    .exampleContainer{
        width: 240px;
    }
}

@media (max-width: 1400px){
    .section{
        padding-top: 32px;
        padding-right: 32px;
        padding-bottom: 32px;
    }
    .exampleList{
        min-width: 0;
        width: 235px;
    }
    .exampleBox{
        width: 210px;
    }
    .exampleContainer{
        width: 200px;
    }
    .columnTitle{
        width: 110%;
        >h2{
            font-size: 18px;
        }
        >img{
            width: 18px;
            margin-right: 16px;
        }
    }
}

@media (max-width: 1300px){
    .boardContainer{
        justify-content: space-evenly;
        gap: 20px;
    }
    .exampleBox{
        width: 190px;
    }
    .exampleList{
        min-width: 0;
        width: 216px;
    }
    .columnTitle{
        width: 100%;
    }
}


@media (max-width: 1200px){
    section{
        height: calc(100dvh - 96px - 68px);
        max-width: 100vw;
        padding-right: 0;
        padding-left: 0;
        padding-bottom: 0;
    }
    .columnTitle{
        width: 97%;
        padding-top: 0;
    }
    .boardContainer{
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        width: 100%;
        overflow-y: auto;
        scrollbar-width: none;

        &::-webkit-scrollbar{
        display: none; // Scrollbar ausblenden
        width: 0;
        height: 0;
        }
    }
    .addTaskButton{
        color: transparent;
        background-color: transparent;
        border: unset;
        border-radius: 10px;
        height: 48px;
        @include setFlex();
        &:hover{
            background-color: transparent;
            box-shadow: none;
        }
    }
    .titleContainer{
        width: 100%;
        >h1{
            margin-left: 1rem;
        }
    }
    .inputTaskContainer{
        margin-right: 1rem;
    }
    .exampleContainer{
        width: 100%;
        height: 290px;
    }

    .exampleList{
        display: flex;
        width: 100%;
        gap: 24px;
        overflow-x: auto;
        white-space: nowrap; // Verhindert Umbrüche
        scrollbar-width: thin;

        &::-webkit-scrollbar {
            display: block; // Scrollbar ausblenden
            width: 20;
            height: 30;
        }
    
        &::-webkit-scrollbar-thumb {
            border-radius: 4px;
        }
    }
    .exampleBox{
        height: 180px;
        align-items: flex-start;
        width: auto;
        max-width: 220px;
        min-width: 200px;
    }

    .noTasks{
        width: 190px;
    }

    .iconLink{
        margin-right: 8px;
    }


    @media (max-width: 1000px){
        .inputTaskContainer{
            margin-right: 8px;
            gap: 0;
        }
        .searchBar{
            width: 200px;
        }
    }

    @media (max-width: 600px){
        .titleContainer{
            align-items: flex-start;
            flex-direction: column;
            >h1{
                font-size: 52px;
            }
        }
        .searchBar{
            margin-left: 16px;
        }
        .inputTaskContainer{
            margin-top: 16px;
            width: 100%;
            justify-content: space-between;
        }
    }
}