<section>
    <h1>Privacy Policy</h1>
    <h2>Sections</h2>
    <div class="container">
        <h3>1. Responsible Entity</h3>
        <div class="content">
            <p>The owner of this website is:</p>
            <p>Marco Gollmer</p>
            <p>E-Mail: <a class="eMail" href="mailto:kontakt@marcogollmer.de">kontakt&#64;marcogollmer.de</a></p>
        </div>
    </div><br>

    <div class="container">
        <h3>2. Collection and Storage of Personal Data</h3>
        <div class="content">
            <p>When visiting our website, certain data is automatically collected by our web server:</p>
            <p>- IP address of the requesting device</p>
            <p>- Date and time of access</p>
            <p>- Name and URL of the retrieved file</p>
            <p>- Website from which access is made (Referrer-URL)</p>
            <p>- Browser used and, if applicable, the operating system of your computer</p>
        </div>
    </div><br>

    <div class="container">
        <h3>3. Cookies and Analytics Tools</h3>
        <div class="content">
            <p>If we use cookies or analytics tools, this is done only with your consent</p>
        </div>
    </div><br>

    <div class="container">
        <h3>4. Contact via E-Mail or Contact Form</h3>
        <div class="content">
            <p>If you contact us via e-mail or contact form, the data you provide will be stored to process your
                inquiry.</p>
        </div>
    </div><br>

    <div class="container">
        <h3>5. Disclosure of Data</h3>
        <div class="content">
            <p>Your data will only be transferred to third parties under certain legal conditions.</p>
        </div>
    </div><br>

    <div class="container">
        <h3>6. Duration of Data Storage</h3>
        <div class="content">
            <p>Personal data is only stored for as long as necessary to fulfill the purposes.</p>
        </div>
    </div><br>

    <div class="container">
        <h3>7. Rights of Data Subjects</h3>
        <div class="content">
            <p>You have the right to access, correction, deletion, restriction of processing, revocation, and complaint.
            </p>
        </div>
    </div><br>

    <div class="container">
        <h3>8. Data Security</h3>
        <div class="content">
            <p>We implement appropriate technical and organizational measures to protect your data.</p>
        </div>
    </div><br>

    <div class="container">
        <h3>9. Changes to This Privacy Policy</h3>
        <div class="content">
            <p>This privacy policy may be updated to reflect legal changes or new features of our website.</p>
        </div>
    </div><br>
</section>