@import "./../../../../../styles.scss";

@media (max-width: 1200px) {
    section{
        overflow-y: auto;
        max-height: 90vh;
    }
}

@media (max-width: 750px){
    h2{
        font-size: 24px;
    }
}

@media (max-width: 500px){
    section{
        padding: 30px;
    }
    h2{
        font-size: 20px;
        margin-bottom: 0px;
    }  
    h3{
        font-size: 16px;
        margin-bottom: 0px;
    }
    .container{
        margin-bottom: 8px;
    }
    .content{
        >p{
            font-size: 16px;
        }
    }
}

@media (max-width: 380px){
    h2{
        font-size: 18px;
        margin-bottom: 0px;
    }  
}