<section>
    <h2>Privacy Policy</h2>

    <div>
        <h3>Subtitle</h3>
        <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati, magni ipsam. Optio saepe quam eligendi dolorum tempore totam quae dolores libero. Maiores laudantium, fugiat illo nulla facere aperiam labore assumenda.</span>
    </div>

    <div>
        <h3>Subtitle</h3>
        <span>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aspernatur quia illum totam sit, aliquam nobis reiciendis nisi laboriosam dolores quibusdam ex beatae expedita dignissimos, facere ut doloribus deleniti. Rem, aspernatur.</span>
    </div>
</section>