@import './../../../../styles.scss';

@media (max-width: 1200px) {
    section {
        position: absolute;
        z-index: 1;
        top: auto;
        bottom: 0;
        left: 0;
        right: 0;
        width: auto;
        min-height: 0;
        padding: 0;    
    }

    nav {
        flex-direction: row;
        width: 100%;
        padding: 0px;
        justify-content: space-evenly;
        gap: 16px;
    }

    .navigationLink {
        padding: 0;
        border-radius: 8px;  
        width: 120px;
    }

    .navigationLinkContent {
        flex-direction: column; 
        padding: 8px 8px;
        justify-content: center;
        width: auto;
        gap: 8px;

        .navigationLinkText {
            padding: 0px;
        }

    }

    .legalContainer {
        display: none;
    }

    .logoContainer {
        display: none;
    }
}

@media (max-width: 450px) {
    .navigationLink {
        width: 75px;
    }
    .navigationLinkContent {
        padding: 8px 4px;

        >img {
            width: 20px;
            height: 20px;
        }

        .navigationLinkText {
            font-weight: 400;
            font-size: 12px;
            margin: 0px;
        }
    }
}