@import './../../../../styles.scss';

@media (max-width: 1200px) {
    section {
        position: absolute;
        z-index: 1;
        top: auto;
        bottom: 0;
        left: 0;
        right: 0;
        width: auto;
        min-height: 0;
        padding: 0;

        >div {
            display: none;
        }

        >nav {
            flex-direction: row;
            width: 100%;
            padding: 0px;
            justify-content: space-evenly;
            gap: 16px;

            >a {
                padding: 0;
                border-radius: 8px;  
                width: 120px;

                >div {
                    flex-direction: column; 
                    padding: 8px 8px;
                    justify-content: center;
                    width: auto;
                    gap: 8px;

                    >p {
                        margin: 0;
                    }

                }
            }
        }
    }

    .logoContainer {
        display: none;
    }
}

@media (max-width: 450px) {
    section {
        >nav {
            >a {
                width: 75px;

                >div {
                    padding: 8px 4px;

                    >img {
                        width: 20px;
                        height: 20px;
                    }

                    >p {
                        font-weight: 400;
                        font-size: 12px;
                        margin: 0px;
                    }
                }
            }
        }
    }
}