<section>
    <img class="logoContainer" src="./assets/img/join_logo.png" alt="Join Logo">
    @if (this.authenticationService.isUserLoggedIn) {
    <nav>
        <a routerLink="/summary" class="navigationLink" [ngClass]="{'isSelected':navbarService.isSummarySelected}"
            (click)="navbarService.setSelection('summary')">
            <div class="navigationLinkContent">
                <img src="./assets/img/navbar/summary_icon.png" alt="">
                <p class="navigationLinkText">Summary</p>
            </div>
        </a>
        <a routerLink="/addTask" class="navigationLink" [ngClass]="{'isSelected':navbarService.isAddTaskSelected}"
            (click)="navbarService.setSelection('addTask'); taskService.setStatusToBeUsed('toDo')">
            <div class="navigationLinkContent">
                <img src="./assets/img/navbar/add_task_icon.png" alt="">
                <p class="navigationLinkText">Add Task</p>
            </div>
        </a>
        <a routerLink="/board" class="navigationLink" [ngClass]="{'isSelected':navbarService.isBoardSelected}"
            (click)="navbarService.setSelection('board')">
            <div class="navigationLinkContent">
                <img src="./assets/img/navbar/board_icon.png" alt="">
                <p class="navigationLinkText">Board</p>
            </div>
        </a>
        <a routerLink="/contact" class="navigationLink" [ngClass]="{'isSelected':navbarService.isContactSelected}"
            (click)="navbarService.setSelection('contact')">
            <div class="navigationLinkContent">
                <img src="./assets/img/navbar/contacts_icon.png" alt="">
                <p class="navigationLinkText">Contacts</p>
            </div>
        </a>
    </nav>
    }@else {
    <nav>
        <a routerLink="/" class="navigationLink">
            <div class="navigationLinkContent">
                <img src="./assets/img/navbar/summary_icon.png" alt="">
                <p class="navigationLinkText">Login</p>
            </div>
        </a>
    </nav>
    }
    <div class="legalContainer">
        <div class="legalLinkContainer" [ngClass]="{'isSelected':navbarService.isPrivacyPolicySelected}"
            (click)="navbarService.setSelection('privacyPolicy')">
            <a class="legalLink" routerLink="privacyPolicy">Privacy Policy</a>
        </div>
        <div class="legalLinkContainer" [ngClass]="{'isSelected':navbarService.isLegalNoticeSelected}"
            (click)="navbarService.setSelection('legal')">
            <a class="legalLink" routerLink="legalNotice">Legal notice</a>
        </div>
    </div>
</section>