@import './../../../../styles.scss';

section {
    position: sticky;
    top: 0;
    background: #2A3647;
    width: 232px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-top: 64px;
    gap: 64px;

    >nav {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: strech;

        >a { 
            padding-left: 50px; 
            border-radius: 0;


            &:hover {
                cursor: pointer; 
                background-color: #2A3D59; 
            }

            >div {
                width: 130px;
                display: flex;
                justify-content: flex-start;
                align-items: center;

                >img {
                    width: 20px;
                    height: 20px;   
                }

                >p {
                    font-family: Inter;
                    font-weight: 400;
                    font-size: 16px;
                    color: #CDCDCD;
                    margin: 16px;
                    ;
                }
            }
        }
    }

    >div {
        width: 100%;
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-start;
        padding-bottom: 32px;

        >div {
            width: 100%;
            height: 50px;
            display: flex;


            >a {
                width: 100%;
                border-radius: 0;
                padding-left: 50px;
                font-weight: 400;
                font-size: 16px;
                color: #A8A8A8;

                &:hover {
                    color: #29ABE2;
                    transform: scale(1.05);
                }
            }
        }
    }
}

.logoContainer {
    height: 120px;
    width: 100px;
}

.isSelected {
    background-color: $clrHighlight1Darker !important;
}