<section>
    <img src="./assets/img/join_logo.png" alt="Join Logo">
    <nav>
        <div>
            <img src="./../../../../assets/img/navbar/summary_icon.png" alt="">
            <p>Summary</p>
        </div>
        <div>
            <img src="./../../../../assets/img/navbar/add_task_icon.png" alt="">
            <p>Add Task</p>
        </div>
        <div>
            <img src="./../../../../assets/img/navbar/board_icon.png" alt="">
            <p>Board</p>
        </div>
        <div>
            <img src="./../../../../assets/img/navbar/contacts_icon.png" alt="">
            <p>Contacts</p>
        </div>
    </nav>
    <div>
        <a routerLink="privacyPolicy">Privacy Policy</a>
        <a routerLink="legalNotice">Legal notice</a>
    </div>
</section> 