@import './../../../styles.scss';

@media (max-width: 1200px) {
    .summaryContainer {
        height: calc(100dvh - 96px - 68px);
        padding: 28px;
    }

    .greetingColumn {
        display: none; 
    }

    .metricsColumn {
        max-width: 100%;
        width: 100%;
    }
}

@media (max-width: 1023px) {
    .headerSection {
        h1 {
            font-size: $fsMobileH1;
        }
    }
}

@media (max-width: 900px) {
    .metricsSection {
        gap: 20px;
    }

    .topCardsContainer {
        gap: 20px;
    }

    .smallCardsContainer {
        gap: 20px;
    }

    .metricCard {
        padding: 16px; 
    }
}

@media (max-width: 600px) {
    .summaryContainer {
        padding: 24px;
    }
    
    .headerSection {
        flex-direction: column;
        align-items: flex-start;
        gap: 8px;

        .subtitle {
            font-size: 22px; 
            position: relative;
            padding-bottom: 10px;
        }

        .subtitle:after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100px;
            height: 3px;
            background-color: $clrHighlight2; 
        }
    }

    .separatorVertical {
        display: none;
    }

    // Icons 
    .iconContainer {
        width: 50px;
        height: 50px;
    }
    
    .urgentLeftSection {
        .iconContainer {
            width: 50px;
            height: 50px;
        }
    }
}

@media (max-width: 450px) {
    .summaryContainer {
        padding-left: 12px;
        padding-right: 12px;
        overflow-y: auto; 
    }

    .headerSection {
        gap: 8px;

        .subtitle:after {
            width: 80px; 
        }
    }

    .topCardsContainer {
        flex-direction: column;
        gap: 20px;
    }

    .smallCardsContainer {
        flex-direction: column;
        gap: 20px;
    }

    .metricCard {
        padding: 12px;
        width: 100%; 
    }

    .urgentCard {
        flex-direction: column; 
        gap: 12px;
        padding: 16px;
    }

    .urgentLeftSection {
        width: 100%;
        justify-content: center;
    }

    .verticalSeparator {
        width: 80%;
        height: 2px;
    }

    .urgentRightSection {
        width: 100%;
    }

    .headerSection {
        .subtitle {
            font-size: 18px;
        }

        .subtitle:after { 
            width: 60px; 
        }
    }
}

@media (orientation: landscape) and (max-height: 600px) {
    .mobileGreetingScreen {
        padding-top: 0;
        padding-bottom: 0;
    }
}
