@import './../../../styles.scss';


@media (max-width: 1200px) {
    .summary-container {
        height: calc(100vh - 96px - 68px);
        padding: 28px;
    }

    .greeting-column {
        display: none; 
    }

    .metrics-column {
        max-width: 100%;
        width: 100%;
    }
}

@media (max-width: 1023px) {
    .header-section {
        h1{
            font-size: $fsMobileH1;
        }
    }
}


@media (max-width: 900px) {
    .metrics-section {
        gap: 20px;
    }

    .top-cards-container {
        gap: 20px;
    }

    .small-cards-container {
        gap: 20px;
    }

    .metric-card {
        padding: 16px; 
    }
}

@media (max-width: 600px) {
    .summary-container{
        padding: 24px;
    }
    
    .header-section {
        flex-direction: column;
        align-items: flex-start;
        gap: 8px;

    
        .subtitle {
            font-size: 22px; 
            position: relative;
            padding-bottom: 10px;
        }

        .subtitle:after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100px;
            height: 3px;
            background-color: $clrHighlight2; 
        }
    }

    .separatorVertical {
        display: none;
    }
}


@media (max-width: 450px) {
    .summary-container {
        padding-left: 12px;
        padding-right: 12px;
        overflow-y: auto; 
    }

    
    .header-section {
        gap: 8px;

        .subtitle:after {
            width: 80px; 
        }
    }

    .top-cards-container {
        flex-direction: column;
        gap: 20px;
    }

    .small-cards-container {
        flex-direction: column;
        gap: 20px;
    }

    .metric-card {
        padding: 12px;
        width: 100%; 
    }

    .urgent-card {
        flex-direction: column; 
        gap: 12px;
        padding: 16px;
    }

    .urgent-left-section {
        width: 100%;
        justify-content: center;
    }

    .vertical-separator {
        width: 80%;
        height: 2px;
    }

    .urgent-right-section {
        width: 100%;
    }

    .header-section {
        .subtitle {
            font-size: 18px;
        }

        .subtitle:after { 
            width: 60px; 
        }
    }
}

@media (orientation: landscape) and (max-height: 600px) {
    .mobile-greeting-screen {
        padding-top: 0;
        padding-bottom: 0;
    }
}