@if (showGreeting) {
<div class="mobileGreetingScreen" [class.fadeOut]="greetingFadeOut"
    [ngClass]="{'d_none':!isSmallScreen || this.authenticationService.isSummaryAnnimationPlayedOnce}">
    <div class="greetingContent">
        <h2 class="greetingTitle">Good morning,</h2>
        <h2 class="userName">{{authenticationService.currentLoggedInUser?.displayName}}</h2>
    </div>
</div>
}
<div class="summaryContainer">
    <div class="headerSection">
        <h1>Join 360</h1>
        <span class="separatorVertical">|</span>
        <div class="subtitle">Key Metrics at a Glance</div>
    </div>

    <div class="mainContentWrapper">
        <div class="metricsColumn">
            <div class="metricsSection">
                <div class="topCardsContainer">
                    <a class="metricsLink" routerLink="/board" (click)="navbarService.setSelection('board')">
                        <div class="metricCard">
                            <div class="iconContainer">
                                <img src="./assets/img/icons/black-circle-pen.svg" alt="To-do icon">
                                <img class="hoverIcon" src="./assets/img/icons/white-circle-pen.svg" alt="To-do icon">
                            </div>
                            <div class="metricContent">
                                <span class="metricValue">{{this.taskService.getAmountOfTasksByStatus('toDo')}}</span>
                                <span class="metricLabel nowrap">To-do</span>
                            </div>
                        </div>
                    </a>
                    <a class="metricsLink" routerLink="/board" (click)="navbarService.setSelection('board')">
                        <div class="metricCard">
                            <div class="iconContainer">
                                <img src="./assets/img/icons/black-circle-check.svg" alt="Done icon">
                                <img class="hoverIcon" src="./assets/img/icons/white-circle-check.svg" alt="Done icon">
                            </div>
                            <div class="metricContent">
                                <span class="metricValue">{{this.taskService.getAmountOfTasksByStatus('done')}}</span>
                                <span class="metricLabel">Done</span>
                            </div>
                        </div>
                    </a>
                </div>
                <a routerLink="/board" class="metricsLink" (click)="navbarService.setSelection('board')">
                    <div class="metricCard urgentCard">
                        <div class="urgentLeftSection">
                            <div class="iconContainer urgentIcon">
                                <img src="./assets/img/icons/red-circle-urgent.svg" alt="Urgent icon">
                            </div>
                            <div class="metricContent">
                                <span class="metricValue">{{this.taskService.getAmountOfTasksByPrio()}}</span>
                                <span class="metricLabel">Urgent</span>
                            </div>
                        </div>

                        <div class="verticalSeparator"></div>

                        <div class="urgentRightSection">
                            <span class="deadlineDate">{{taskService.getUpcomingDeadline()}}</span>
                            <span class="deadlineLabel">Upcoming Deadline</span>
                        </div>
                    </div>
                </a>
                <div class="smallCardsContainer">
                    <a routerLink="/board" class="metricsLink" (click)="navbarService.setSelection('board')">
                        <div class="metricCard smallCard">
                            <div class="metricContent centeredContent">
                                <span class="metricValue">{{this.taskService.getAmountOfAllTasks()}}</span>
                                <span class="metricLabel">Tasks in<br> Board</span>
                            </div>
                        </div>
                    </a>
                    <a routerLink="/board" class="metricsLink" (click)="navbarService.setSelection('board')">
                        <div class="metricCard smallCard">
                            <div class="metricContent centeredContent">
                                <span
                                    class="metricValue">{{this.taskService.getAmountOfTasksByStatus('inProgress')}}</span>
                                <span class="metricLabel">Tasks in<br> Progress</span>
                            </div>
                        </div>
                    </a>
                    <a routerLink="/board" class="metricsLink" (click)="navbarService.setSelection('board')">
                        <div class="metricCard smallCard">
                            <div class="metricContent centeredContent">
                                <span
                                    class="metricValue">{{this.taskService.getAmountOfTasksByStatus('awaitFeedback')}}</span>
                                <span class="metricLabel">Awaiting<br> Feedback</span>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>

        <div class="greetingColumn">
            <div class="greetingSection">
                <p class="greetingTitle">Good morning,</p>
                <p class="userName">{{authenticationService.currentLoggedInUser?.displayName}}</p>
            </div>
        </div>
    </div>
</div>