@mixin mobile {
    @media (max-width: 480px) { @content; }
  }
  
  @mixin small-mobile {
    @media (max-width: 320px) { @content; }
  }
  
  @mixin rotation {
    @media (orientation: landscape) and (max-height: 600px) { @content; }
  }
  
  .modal-content {
    max-height: 85dvh;
    overflow-y: auto;
    
    @include mobile {
      padding: 20px;
      max-width: 95%;
    }
    
    @include small-mobile {
      padding: 15px;
    }
    
    @include rotation {
      max-height: 90dvh;
      padding: 15px 20px;
    }
  }
  
  .task-tag {
    @include mobile {
      font-size: 12px;
      padding: 3px 12px;
    }
  }
  
  .task-title {
    @include mobile {
      font-size: 24px;
      margin-bottom: 12px;
    }
    
    @include small-mobile {
      font-size: 20px;
    }
  }
  
  .task-description {
    @include mobile {
      font-size: 14px;
      margin-bottom: 24px;
    }
  }
  
  .info-row {
    @include mobile {
      margin-bottom: 16px;
    }
    
    .label {
      @include mobile {
        font-size: 12px;
      }
    }
    
    &.horizontal {
      @include small-mobile {
        flex-direction: column;
        align-items: flex-start;
        gap: 8px;
      }
      
      @include mobile {
        gap: 15px;
      }
    }
  }
  
  .priority-badge {
    @include mobile {
      font-size: 12px;
      
      img {
        width: 16px;
        height: 16px;
      }
    }
  }
  
  .assigned-users {
    @include mobile {
      gap: 12px 10px;
    }
    
    .user-avatar {
      @include mobile {
        width: 35px;
        height: 35px;
        font-size: 11px;
      }
    }
    
    .user-name {
      @include mobile {
        font-size: 13px;
      }
    }
  }
  
  .modal-actions {
    @include mobile {
      bottom: 15px;
      right: 15px;
    }
    
    .action-btn {
      @include mobile {
        font-size: 14px;
        
        img {
          width: 14px;
          height: 14px;
        }
      }
    }
  }
  
  
  .modal-content::-webkit-scrollbar {
    width: 5px;
  }
  
  .modal-content::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 5px;
  }