<div class="modal-overlay overlay" [class.show]="isVisible" (click)="closeModal($event)">
    <div class="modal-content">
        <div class="task-tag"
            [ngClass]="{'y':taskService.currentlySelectedTask.category == 'Technical Task', 'z':taskService.currentlySelectedTask.category == 'User Story' }">
            {{taskService.currentlySelectedTask.category}}</div>

        <h1 class="task-title">{{taskService.currentlySelectedTask.title}}</h1>

        <p class="task-description">{{taskService.currentlySelectedTask.description}}</p>

        <div class="info-row horizontal">
            <span class="label">Due date:</span>
            <span class="value">{{taskService.currentlySelectedTask.dueDate}}</span>
        </div>

        <div class="info-row horizontal">
            <span class="label">Priority:</span> 
            <div class="priority-badge medium">
                {{taskService.currentlySelectedTask.prio}}
                @if(taskService.currentlySelectedTask.prio == 'Urgent'){
                <img src="./assets/icones/Prio alta.svg" alt="Urgent">
                <!-- hier logo für urgent einfügen -->
                }
                @if(taskService.currentlySelectedTask.prio == 'Medium'){
                <img src="./assets/icones/Capa 1.svg" alt="Medium">
                <!-- hier logo für medium einfügen -->
                }
                @if(taskService.currentlySelectedTask.prio == 'Low'){
                <img src="./assets/icones/Prio baja.svg" alt="Low">
                <!-- hier logo für low einfügen -->
                }


            </div>
        </div>

        <div class="info-row">
            <span class="label">Assigned To:</span>
            <div class="assigned-users">
                @for (assigne of taskService.currentlySelectedTask.assignedTo; track $index) {
                <div class="user-avatar backgroundColor{{assigne.nameShortcutColorCode}}">{{assigne.nameShortcut}}
                </div>
                <div class="user-name">{{assigne.fullName}}</div>
                }
            </div>
        </div>

        <div class="info-row">
            <span class="label">Subtasks</span>
            <div class="subtasks">
                <div class="subtask">
                    <div class="custom-checkbox" onclick="this.classList.toggle('checked')">
                        <img src="./assets/icones/Vector 9.svg" class="checkbox-empty">
                        <img src="./assets/icones/Group 19.svg" class="checkbox-checked">
                    </div>
                    <label class="subtask-text">Implement Recipe Recommendation</label>
                </div>
                <div class="subtask">
                    <div class="custom-checkbox" onclick="this.classList.toggle('checked')">
                        <img src="./assets/icones/Vector 9.svg" class="checkbox-empty">
                        <img src="./assets/icones/Group 19.svg" class="checkbox-checked">
                    </div>
                    <label class="subtask-text">Start Page Layout</label>
                </div>
            </div>
        </div>

        <div class="modal-actions">
            <button class="action-btn delete"
                (click)="taskService.deleteTask(taskService.currentlySelectedTask); close()">
                <img src="./assets/icones/delete.svg" alt="Delete">
                Delete
            </button>
            <button class="action-btn edit" (click)="openEditModal()">
                <img src="./assets/icones/edit.svg" alt="Edit">
                Edit
            </button>
        </div>

        <button class="close-btn" (click)="close()">
            <img src="./assets/icones/close.svg" alt="Close">
        </button>
    </div>
</div>

<div class="modal-overlay edit-overlay" [class.show]="isEditMode" (click)="closeEditModal($event)">
    <div class="modal-content edit-modal">

        <div class="modal-header">
            <button class="close-btn" (click)="close()">
                <img src="./assets/icones/close.svg" alt="Close">
            </button>
        </div>
        <div class="modal-scrollable-content">
            <form class="edit-form">
                
                <div class="inputAndErrorContainer">
                    <label for="title">Title<span class="clrRed">*</span></label>
                    <div class="inputContainer">
                        <input #title="ngModel" [(ngModel)]="taskService.currentTaskToBeUpdated.title" id="title" name="title" type="text"
                            placeholder="Enter a title" class="input-field" required>
                    </div>
                    <div class="errorMessageContainer">
                        @if (!title.valid && title.touched) {
                        <p class="errorMessage">Please enter a title</p>
                        }
                    </div>
                </div>

                <div class="form-group">
                    <label>Description</label>
                    <textarea name="description" [(ngModel)]="taskService.currentTaskToBeUpdated.description" class="input-field"></textarea>
                </div>

                <div class="form-group">
                    <label>Due date</label>
                    <input type="date" name="dueDate" [(ngModel)]="taskService.currentTaskToBeUpdated.dueDate" class="input-field">
                </div>

                <div class="form-group">
                    <label>Priority</label>
                    <div class="priority-buttons">
                        <button type="button" [class.active]="taskService.currentTaskToBeUpdated.prio === 'Urgent'">
                            Urgent
                            <img src="./assets/icones/Prio alta.svg" alt="Urgent">
                        </button>
                        <button type="button" [class.active]="taskService.currentTaskToBeUpdated.prio === 'Medium'">
                            Medium
                            <img src="./assets/icones/Capa 1.svg" alt="Medium">
                        </button>
                        <button type="button" [class.active]="taskService.currentTaskToBeUpdated.prio === 'Low'">
                            Low
                            <img src="./assets/icones/Prio baja.svg" alt="Low">
                        </button>
                    </div>
                </div>

                <div class="form-group">
                    <label>Assigned to</label>
                    <select name="assignedTo" multiple class="input-field">
                    </select>
                </div>

                <div class="form-group">
                    <label>Subtasks</label>
                    <div class="subtask-input-group">
                        <input type="text" placeholder="Add new subtask" class="input-field">
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="ok-btn">
                Ok<img src="./assets/icones/check.svg" alt="checkmark">
            </button>
        </div>
    </div>
</div>