@import './../styles.scss';

app-main-content {
    @include setFlex();

    app-contacts {
        flex: 1;
    }
}

.mainArea {
    width: 100%;
    @include setFlex();
}

.mainAreaContent {
    position: relative;
    @include setFlex($jc: flex-start, $ai: stretch);
}