@import './../styles.scss';

app-main-content {
    @include setFlex();

}

.mainArea {
    width: 100%;
    @include setFlex();
}

.mainAreaContent {
    position: relative;
    @include setFlex($jc: flex-start, $ai: stretch);

    // app-contacts {
    //     flex: 1;
    // }
}

app-contacts {
    flex: 1;
}