@import './../styles.scss';

app-main-content {
    @include setFlex();

}

.mainArea {
    width: 100%;
    @include setFlex();
}

.mainAreaContent {
    position: relative;
    @include setFlex($jc: flex-start, $ai: stretch);
}

.flex1 {
    flex: 1;
}