@import './../../../styles.scss';

#addTaskSection {
    @include setFlex($jc: flex-start, $ai: flex-start);
    height: 100%;
    width: 100%;
}

.addTaskSectionContent {
    position: relative;
    margin-top: 96px;
    height: calc(100vh - 96px);
    flex: 1;
    padding: 32px;

    @include setFlex($fd: column, $jc: flex-start, $ai: flex-start, $gap: 8px);
}

.clrRed {
    color: $clrErrorMessageText;
}

// ##############################################################################################################
// Absolute Elements
// ##############################################################################################################
.controlBTN {
    cursor: pointer;
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;
    border: 2px dotted whitesmoke;
    font-size: 12px;
    padding: 8px;
    background-color: rgba(139, 0, 139, 0.5);
    color: white;


    &:hover {
        background-color: darkgray;
    }
}

.addTaskControlBtns {
    align-self: flex-end;
    @include setFlex($gap: 16px);
}

.btnWithIcon {
    align-self: center;
    @include setFlex($gap:8px);
}

// ##############################################################################################################
// addTaskHeadContainer
// ##############################################################################################################
.addTaskHeadContainer {}

// ##############################################################################################################
// addTaskForm
// ##############################################################################################################
.addTaskForm {
    @include setFlex($fd:column, $jc:flex-start, $ai: stretch, $gap: 32px);
}

.forFieldsContainer{
    overflow-y: auto;
    scrollbar-width: thin;
    max-height: calc(100vh - 96px - 300px);
    @include setFlex($ai: flex-start, $gap: 32px);
}

.createBTN, .clearBTN{
    cursor: pointer;
}

.inputAndErrorContainer {
    @include setFlex($fd: column, $ai: stretch)
}

.inputContainer {
    position: relative;
}

.selectionInput {
    @include setFlex($jc: space-between);
    background-color: $clrBaseBright;
    padding: $stdPaddingInteractive;
    border-radius: $stdRadiusInteractive;
    border: 1px solid $clrBaseGray;
}

.selectionInputImgContainer {
    border-radius: 50%;

    &:hover {
        background-color: $clrBaseGray;
    }
}

.selectedContaktList {
    @include setFlex($jc: flex-start); 
}

.selectionContaktList {
    position: absolute;
    bottom: -120px;
    left: 0;
    right: 0;
    z-index: 1;
    @include setFlex($fd: column, $jc: flex-start, $ai: stretch);
    background-color: $clrBaseBright;
    height: 120px;
    overflow-y: auto;
    scrollbar-width: thin;
    border-radius: 10px;
}

.selectionContact {
    cursor: pointer;
    @include setFlex($jc: space-between, $gap: 16px);
    padding: 7px 16px;
    border-radius: 10px;

    &:hover {
        background-color: $clrBaseGray;
    }

    &:active {
        background-color: $clrHighlight1Darker;
        color: $clrBaseBright;
    }
}

.isSelected {
    background-color: $clrHighlight1Darker !important;
    color: $clrBaseBright;
}

.contactShortcut {
    @include setFlex();
    color: white;
    border: 2px solid $clrBaseBright;
    border-radius: 50%;
    padding: 8px;
    font-size: 12px;
    font-weight: 400px;
    width: 42px;
    height: 42px;
}

.contactFullname {
    flex: 1;
    font-size: 16px;
    font-weight: 400px;
}

.selectionCategoryList {
    position: absolute;
    bottom: -90px;
    left: 0;
    right: 0;
    z-index: 1;
    @include setFlex($fd: column, $jc: flex-start, $ai: stretch);
    background-color: $clrBaseBright;
    height: 90px;
    overflow-y: auto;
    scrollbar-width: thin;
    border-radius: 10px;
}

.selectionCategory {
    cursor: pointer;
    @include setFlex($jc: space-between, $gap: 16px);
    padding: 7px 16px;
    border-radius: 10px;

    &:hover {
        background-color: $clrBaseGray;
    }
}

.custom-checkbox {
    position: relative;
    width: 15px;
    height: 15px;
    margin-right: 8px;
    cursor: pointer;
    display: inline-block;
}
  
.checkbox-empty, .checkbox-checked {
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
}
  
.checkbox-checked {
    display: none;
}
  
.custom-checkbox.checked .checkbox-empty {
    display: none;
}
  
.custom-checkbox.checked .checkbox-checked { 
    display: block;
}

.subtaskInputContainer {
    position: relative;
}

.inputBtns {
    @include setFlex($gap: 4px);
    z-index: 10;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 20%;
}

.inputBtn {
    border-radius: 50%;

    &:hover {
        background-color: $clrBaseGray;
    }
}

.currentSubtasksList {
    @include setFlex($fd: column, $jc: flex-start, $ai: stretch, $gap: 4px);
    margin-top: 4px;
}

.currentSubtask {
    position: relative;
}

.currentSubtaskDisplayView {
    position: relative;
    cursor: pointer;
    border-radius: 10px;
    padding: 6px 16px;
    font-size: 16px;

    .currentSubtaskDisplayViewBtns{
        display:none;
    }

    &:hover {
        background-color: $clrBaseGray;
        .currentSubtaskDisplayViewBtns{
            display:flex;
        }
    }
}

.currentSubtaskEditView {
    position: relative;
    border-radius: 10px;
    font-size: 16px;
}

.currentSubtaskEditViewInput {
    border-radius: 0;
    outline: none;
    border: none;
    border-bottom: 1px solid $clrHighlight2;
    padding: 4px 21px;
    width: 100%;
}

.currentSubtaskDisplayViewBtns {
    @include setFlex();
    position: absolute;
    height: 100%;
    top: 0;
    right: 0;
}

.errorMessageContainer {
    @include setFlex($jc: flex-start);
    height: 16px;
}

.errorMessage {
    color: $clrErrorMessageText;
    padding-left: 8px;
    font-size: 12px;
}

.formSeperator {
    border: 1px solid $clrSeparatingLines;
    height: 100%;
    width: 1px;
}

.prioSelection {
    @include setFlex($jc: space-between, $gap: 8px);
}

.prioChoice {
    cursor: pointer;
    @include setFlex($gap: 8px);
    padding: 10px 18px;
    background-color: $clrBaseBright;
    border-radius: 10px;


    svg {
        width: 20px;
    }
}

.shadow {
    filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.1));

    &:hover {
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.2));
    }
}

.clrBackgroundUrgent {
    background-color: $clrPrioUrgend; 
    color: $clrBaseBright;
}

.clrBackgroundMedium {
    background-color: $clrPrioMedium;
    color: $clrBaseBright;
}

.clrBackgroundLow {
    background-color: $clrPrioLow;
    color: $clrBaseBright;
}

.clrFillUrgent {
    fill: $clrPrioUrgend;
}

.clrFillMedium {
    fill: $clrPrioMedium;
}

.clrFillLow {
    fill: $clrPrioLow;
}

.formFieldGroup1,
.formFieldGroup2 {
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: 440px;
}

.input-field {
    width: 100%;
}

textarea {
    min-height: 60px;
    max-height: 200px;
    min-width: 100%;
    max-width: 100%;
}

label{
        padding-bottom: 4px;
}

// ##############################################################################################################
// addTaskAsteriskText
// ##############################################################################################################
.addTaskAsteriskText {}