<section id="addTaskSection">
    <div class="addTaskSectionContent">
        <div class="primaryBtn btnWithIcon createBTN">
            <p>Create Task</p>
            <img src="" alt="">
        </div>
        <div class="secundaryBtn btnWithIcon clearBTN">
            <p>Clear</p>
            <img src="" alt="">
        </div>
        <button class="controlBTN" (click)="taskService.resetDatabase()">reset Tasks DB</button>
        <button class="controlBTN" (click)="taskService.resetDatabase()"></button>
        <button class="controlBTN" (click)="taskService.resetDatabase()">reset Tasks DB</button>
        <button class="controlBTN" (click)="taskService.resetDatabase()">reset Tasks DB</button>
        <div class="addTaskHeadContainer">
            <H1>Add Task</H1>
        </div>
        <form class="addTaskForm">Hier alle Eingabefelder (Hier soll Scrollen gehen)
            <div class="formFieldGroup1">Hier Eingabefelder Gruppe 1</div>
            <div class="formSeperator">Hier Trennlinie</div>
            <div class="formFieldGroup2">Hier Eingabefelder Gruppe 2</div>
        </form>
        <div class="addTaskAsteriskText"><span>*</span> This field is required</div>
    </div>
</section>