@import "./../../../../../styles.scss";

section{
    margin-top: 96px;
    padding-top: 24px;
    padding-left: 48px;
    padding-right: 48px;
    padding-bottom: 100px;
}

.blue-color{
    color: $clrHighlight2;
}

.tel-numb{
    @include setFlex($jc: flex-start);
    gap: 8px;
}

.e-mail{
    color: black;
    padding: 0;
        &:hover{
            color: black;
            text-decoration: underline;
        }
}

.content{
    max-width: 60ch;
    text-align: justify
}

.contact{
    margin-top: 24px;
}