@import "./../../../../../styles.scss";

@media (max-width: 1200px){
    section{
        overflow-y: auto;
        max-height: calc(100vh - 96px - 68px);
    }
}

@media (max-width: 1023px) {
    h1{
        font-size: $fsMobileH1;
    }
    h2{
        font-size: $fsMobileH2;
    }
    h3{
        font-size: $fsMobileH3;
    }
}

@media (max-width: 550px){
    section{
        padding-left: 8px;
        padding-right: 8px;
    }
    .tel-numb{
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 0;
    }
}

@media (max-width: 380px){
    section{
        max-width: 100vw;
    }
}