<section>
    <div class="category"
        [ngClass]="{'technicalTask':task.category == 'Technical Task', 'user-story':task.category == 'User Story'}">
        <p>{{task.category}}</p>
    </div>
    <div>
        <h4 class="title">{{task.title}}</h4>
        <p class="description">{{task.description}}</p>
    </div>
    @if(task.subTasks.length > 0){
    <div class="progressbarContainer">
        <div class="progressbar">
            <div class="progress" [style.width]="getProgress(task)"></div>
        </div>
        <p>{{getAllDoneSubTasks(task)}}/{{task.subTasks.length}} Subtasks</p>
    </div>
    }
    <div class="profilPrioContainer">
        <div class="profilContainer">
            @for (idOfAssigne of task.assignedTo; track $index) {
            @if ($index<3) { <div
                class="profil backgroundColor{{contactService.getContactViaId(idOfAssigne).nameShortcutColorCode}}">
                <p>{{contactService.getContactViaId(idOfAssigne).nameShortcut}}</p>
        </div>
        }
        }
        @if (task.assignedTo.length>3) {
        <div class="profil backgroundColorBaseGray">
            +{{task.assignedTo.length-3}}
        </div>
        }
    </div>
    <div class="prio"
        [ngClass]="{'prioLow':task.prio == 'Low', 'prioMedium':task.prio == 'Medium', 'prioUrgent': task.prio == 'Urgent'}">
    </div>
    </div>
</section>