<section>
    <div class="category" [ngClass]="{'technical-task':taskService.currentlySelectedTask.category == 'Technical Task', 'user-story':taskService.currentlySelectedTask.category == 'User Story'}">
        <p>{{task.category}}</p>
    </div>
    <div>
        <h4 class="title">{{task.title}}</h4>
        <p class="description">{{task.description}}</p>
    </div>
    <div class="progressbar-container">
        <div class="progressbar">
            <div class="progress"></div>
        </div>
        <p>0/{{task.subTasks.length}} Subtasks</p>
    </div>
    <div class="profil-prio-container">
        <div class="profil-container">
            <div class="profil"><p>SM</p></div>
            <div class="profil"><p>MA</p></div>
            <div class="profil"><p>FH</p></div>
        </div>
        <div class="prio">
            {{task.prio}}
        </div>
    </div>
</section>