@media (max-width: 1400px) {
    .category{
        font-size: 12px;
        margin-bottom: 7px;
    }
    .progressbar-container{
        margin-bottom: 0;
        >p{
            font-size: 12px;
        }
    }
    .prio{
        width: 20px;
    }
    .description{
        margin-bottom: 2px;
        font-size: 14px;
    }
    .title{
        font-size: 15px;
    }
}

@media (max-width: 1200px){
    .description{
        margin-bottom: 0;
        font-size: 10px;
    }
}