@import './styles/fonts';
@import './styles/mixin';
@import './styles/variables';
@import './styles/base';

/*  Use a more-intuitive box-sizing model. */
*,
*::before,
*::after {
    box-sizing: border-box;
    // outline: 2px solid lime; //<== to identify all sizes*/
    // background: hsl(0 100% 50% / 0.1) // <== to identify Layering*/
}

/* Remove default margin & padding*/
* {
    margin: 0;
    padding: 0;
    font-family: $font-family-base;
}

/* Typographic tweaks (Add accessible line-height)*/
body {
    line-height: 1.5;
    font-family: $font-family-base;
    font-size: $fSDefault;
    background-color: $clrBackground;
}

@media (max-width: 1023px) {
    body {
        font-size: $fSMobileDefault;
    }
    a{
        font-size: $fSMobileDefault;
    }
}

/* Improve media defaults*/
img,
svg {
    display: block;
    max-width: 100%;
}

/* Remove built-in form typography styles (Überall Standard font nutzen)*/
input,
button,
textarea,
select {
    font: inherit;
}

html {
    scroll-behavior: smooth;
}

.contentLimit {
    width: 100%;
    min-width: 300px;
    max-width: 1920px;
}

.d_none {
    display: none !important;
}

.mobileBtn {
    cursor: pointer;
    border-radius: 500px;
    background-color: $clrHighlight1;
    padding: 12px
}

.primaryBtnSmall {
    padding: 15px 24px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 400;
    color: $clrBaseBright;
    background-color: $clrHighlight1;
    transition: all 100ms ease-in-out;

    &:hover {
        background-color: $clrHighlight2;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.2));
        svg{
            path{
                fill: $clrHighlight2;;
            }
        }
    }

    &:active {
        background-color: $clrHighlight1Darker;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.2));
        svg{
            path{
                fill: $clrHighlight1Darker;;
            }
        }
    }

    svg{
        path{
            fill: $clrBaseBright;;
        }
    }
}

.secundaryBtnSmall {
    padding: 15px 24px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 400;
    color: $clrHighlight1;
    background-color: $clrBaseBright;
    border: 2px solid $clrHighlight1;
    // transition: all 100ms ease-in-out;

    &:hover {
        color: $clrHighlight2;
        border: 2px solid $clrHighlight2;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.2));
        svg{
            path{
                fill: $clrHighlight2;
            }
        }
    }

    &:active {
        color: $clrHighlight1Darker;
        border: 2px solid $clrHighlight1Darker;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.2));
        svg{
            path{
                fill: $clrHighlight1Darker;
            }
        }
    }

    svg{
        path{
            fill: $clrHighlight1;
        }
    }
}

.primaryBtnTall {
    padding: 12px 16px;
    border-radius: 10px;
    font-size: 21px;
    font-weight: 700;
    color: $clrBaseBright;
    border: 2px solid $clrHighlight1;
    background-color: $clrHighlight1;
    transition: all 100ms ease-in-out;

    &:hover {
        background-color: $clrHighlight2;
        border: 2px solid $clrHighlight2;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.2));
        svg{
            path{
                fill: $clrBaseBright;;
            }
        }
    }

    &:active {
        background-color: $clrHighlight1Darker;
        border: 2px solid $clrHighlight1Darker;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.2)); 
        svg{
            path{
                fill: $clrBaseBright;;
            }
        }
    }
    svg{
        path{
            fill: $clrBaseBright;;
        }
    }
}

.secundaryBtnTall {
    padding: 12px 16px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 400;
    color: $clrHighlight1;
    background-color: $clrBaseBright;
    border: 2px solid $clrHighlight1;
    transition: all 100ms ease-in-out;

    &:hover {
        color: $clrHighlight2;
        border: 2px solid $clrHighlight2;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.2));
        svg{
            path{
                fill: $clrHighlight2;
            }
        }
    }

    &:active {
        color: $clrHighlight1Darker;
        border: 2px solid $clrHighlight1Darker;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.2));
        svg{
            path{
                fill: $clrHighlight1Darker;
            }
        }
    }

    svg{
        path{
            fill: $clrHighlight1;
        }
    }
}

.backgroundColor1 {
    background-color: $clrContact1;
}

.backgroundColor2 {
    background-color: $clrContact2;
}

.backgroundColor3 {
    background-color: $clrContact3;
}

.backgroundColor4 {
    background-color: $clrContact4;
}

.backgroundColor5 {
    background-color: $clrContact5;
}

.backgroundColor6 {
    background-color: $clrContact6;
}

.backgroundColor7 {
    background-color: $clrContact7;
}

.backgroundColor8 {
    background-color: $clrContact8;
}

.backgroundColor9 {
    background-color: $clrContact9;
}

.backgroundColor10 {
    background-color: $clrContact10;
}

.backgroundColor11 {
    background-color: $clrContact11;
}

.backgroundColor12 {
    background-color: $clrContact12;
}

.backgroundColor13 {
    background-color: $clrContact13;
}

.backgroundColor14 {
    background-color: $clrContact14;
}

.backgroundColor15 {
    background-color: $clrContact15;
}

.backgroundColorBaseGray {
    background-color: $clrBaseGray;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}