<div class="modalOverlay overlay" [class.show]="contactService.isEditContactViewed" (click)="closeModal($event)">
    <div class="modalContent">
        <div class="modalHeader">
            <img src="./assets/img/join_logo.png" alt="Join Logo" class="logo">
            <div class="titleContainer">
                <h1>Edit contact</h1>
                <div class="blueLine"></div>
            </div>
        </div>

        <form id="myForm" (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm" class="formContent">
            <div class="avatarContainer">
                <img src="./assets/img/icons/Group 13.svg" alt="Person Icon" class="personIcon">
            </div>

            <div class="formFields">
                <div class="inputAndErrorContainer">
                    <div class="inputContainer">
                        <input #name="ngModel" [(ngModel)]="contactService.currentContactToBeUpdated.fullName"
                            type="text" id="name" name="name" placeholder="Name" class="inputField" required
                            pattern="[a-zA-Z]{3,}.*">
                    </div>
                    <div class="errorMessageContainer">
                        @if (!name.valid && name.touched) {
                        <p class="errorMessage">Please enter a name</p>
                        }
                    </div>

                    <div class="inputAndErrorContainer">
                        <div class="inputContainer">
                            <input #email="ngModel" [(ngModel)]="contactService.currentContactToBeUpdated.email"
                                id="email" name="email" type="email" placeholder="Email" class="inputField" required
                                pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}">
                            <img src="./assets/img/icons/mail.svg" alt="Email" class="inputIcon">
                        </div>
                        <div class="errorMessageContainer">
                            @if (!email.valid && email.touched) {
                            <p class="errorMessage">Please enter a valid email</p>
                            }
                        </div>
                    </div>

                    <div class="inputAndErrorContainer">
                        <div class="inputContainer">
                            <input #phone="ngModel" [(ngModel)]="contactService.currentContactToBeUpdated.phone"
                                id="phone" name="phone" type="phone" placeholder="Phone" class="inputField" required
                                pattern="^\+?[0-9 ]{7,15}$">
                            <img src="./assets/img/icons/call.svg" alt="Phone" class="inputIcon">
                        </div>
                        <div class="errorMessageContainer">
                            @if (!phone.valid && phone.touched) {
                            <p class="errorMessage">Please enter a valid phone number</p>
                            }
                        </div>
                    </div>

                    <div class="buttonContainer">
                        <button type="button" class="cancelBtn"
                            (click)="close(); contactService.deleteContact(contactService.currentContactToBeUpdated); contactService.changeMobileContactView(isMobileView)">
                            Delete
                            <img src="./assets/img/icons/close.svg" alt="Cancel">
                        </button>
                        <button type="submit" class="createBtn">
                            Save
                            <img src="./assets/img/icons/check.svg" alt="Create">
                        </button>
                    </div>
                </div>
            </div>
        </form>

        <button class="closeBtn" (click)="close()">
            <img src="./assets/img/icons/close.svg" alt="Close">
        </button>
    </div>
</div>