@import "./../../../../../styles.scss";

section{
    margin-top: 96px;
    padding: 48px;
    padding-bottom: 64px;
    >span{
        font-weight: 700;
        font-size: 27px;
    }
}

.how-to-use{
    max-width: 60ch;
    text-align: justify;
}

.list{
    @include setFlex($jc:flex-start, $ai:flex-start);
    gap: 24px;
    margin-bottom: 36px;
    margin-top: 24px;
    >p{
        font-size: 24px;
        font-weight: 700;
    }
}

.blue-color{
    color: $clrHighlight2;
}

h1{
    margin-bottom: 24px;
}

.margin-l{
    margin-left: 42px;
}