@import "./../../../../../styles.scss";

@media (max-width: 1200px){
    section{
        overflow-y: auto;
        max-height: calc(100dvh - 96px - 68px);
        padding-bottom: 100px;
    }
}

@media (max-width: 1023px) {
    h1{
        font-size: $fsMobileH1;
    }
    h2{
        font-size: $fsMobileH2;
    }
    h3{
        font-size: $fsMobileH3;
    }
}

@media (max-width: 600px){
    section{
        padding-bottom: 84px;
        padding-right: 24px;
        padding-left: 24px;
    }

    .list{
        gap: 12px;
        margin-bottom: 18px;
        >p{
            font-size: 16px;
        }
    }
}