@import "./../../../styles.scss";

section{
    @include setFlex();
    width: 100vw;
    min-height: 500px;
    height: calc(100vh - 200px - 100px);
    background-color: $clrBackground;
}

header{
    @include setFlex($jc: space-between, $ai: flex-start);
    padding: 64px;
    height: 200px;
}

footer{
    @include setFlex();
    height: 100px;
    gap: 35px;
    >a{
        color: rgb(190, 189, 189);
        padding: 0;
        transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;
        &:hover{
            color: $clrHighlight2;
            border-color: $clrHighlight2;
            transform: scale(1.1);
        }  
    }
}

.login-container{
    @include setFlex();
    flex-direction: column;
    background-color: white;
    width: 650px;
    height: 450px;
    border-radius: 30px;
    box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.04);
}

.horizontal-seperator{
    width: 120px;
    border-top: 3px solid $clrHighlight2;
}

.title-container{
    @include setFlex();
    flex-direction: column;
}

//===============================================================
//========= All Button ==========================================
//===============================================================

.signup-container{
    @include setFlex();
    gap: 35px; 
}

.signup-btn{
    color: white;
    background-color: $clrHighlight1;
    border: unset;
    border-radius: 10px;
    height: 48px;
    width: 110px;
    font-size: 16px;
    font-weight: 700;
    @include setFlex();
    &:hover{
        background-color: $clrHighlight2;
        color: $clrBaseBright;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    }   
}

.button-container{
    @include setFlex();
    gap: 35px;
}

.login-btn{
    color: white;
    background-color: $clrHighlight1;
    border: unset;
    border-radius: 10px;
    height: 48px;
    width: 110px;
    font-weight: 700;
    @include setFlex();
    &:hover{
        background-color: $clrHighlight2;
        color: $clrBaseBright;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    }   
}

.guest-login-btn{
    background-color: white;
    border: 1px solid black;
    border-radius: 8px;
    height: 48px;
    width: 177px;
    @include setFlex();
    font-weight: 700;
    &:hover{
        color: $clrHighlight2;
        border-color: $clrHighlight2;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    }  
}
//===============================================================
//======== Input fields =========================================
//===============================================================

.input-container{
    height: 120px;
    @include setFlex();
    flex-direction: column;
    gap: 32px;
    margin-top: 30px;
    margin-bottom: 48px;
}

//======== E-Mail Input =========================================

.email-input-container{
    position: relative;
    width: 422px;
    height: 48px;
}

.email-input{
    position: absolute;
    left: 0;
    top: 0;
    width: 422px;
    height: 48px;
}

input::placeholder {
    color: rgb(200, 198, 198);
    opacity: 1; // Stellt sicher, dass er nicht transparent ist
  }

.email-icon{
    position: absolute;
    right: 20px;
    top: 10px;
}

//======== Password Input =========================================

.password-input-container{
    position: relative;
    width: 422px;
    height: 48px;
}

.password-input{
    position: absolute;
    left: 0;
    top: 0;
    width: 422px;
    height: 48px;
}

.password-icon{
    position: absolute;
    right: 20px;
    top: 10px;
}
